PANDAS

In [1]:
import pandas as pd

SERIES

In [4]:
x=[12,31,3,13,21,31,31]
a=pd.Series(x)
print(a)
print(type(a))
print(a[2])

0    12
1    31
2     3
3    13
4    21
5    31
6    31
dtype: int64
<class 'pandas.core.series.Series'>
3

In [12]:
x=[12,31,3,13,21,31,31]
a=pd.Series(x,index=['a','b','c','d','e','f','g'])
print(a)
print(type(a))

a    12
b    31
c     3
d    13
e    21
f    31
g    31
dtype: int64
<class 'pandas.core.series.Series'>

In [14]:
x=[12,31,3,13,21,31,31]
a=pd.Series(x,index=['a','b','c','d','e','f','g'],dtype="float")
print(a)
print(type(a))

a    12.0
b    31.0
c     3.0
d    13.0
e    21.0
f    31.0
g    31.0
dtype: float64
<class 'pandas.core.series.Series'>

In [17]:
x=[12,31,3,13,21,31,31]
a=pd.Series(x,index=['a','b','c','d','e','f','g'],dtype="float",name="Python")
print(a)
print(type(a))

a    12.0
b    31.0
c     3.0
d    13.0
e    21.0
f    31.0
g    31.0
Name: Python, dtype: float64
<class 'pandas.core.series.Series'>

In [18]:
dic={"name":['Python','C','C++','Java'],"por":[12,54,25,75],"rank":[1,4,3,2]}
var=pd.Series(dic)
print(var)

name    [Python, C, C++, Java]
por           [12, 54, 25, 75]
rank              [1, 4, 3, 2]
dtype: object

In [20]:
s=pd.Series(12)
print(s)
print(type(s))

0    12
dtype: int64
<class 'pandas.core.series.Series'>

In [22]:
s=pd.Series(12,index=[1,2,3,4,5,6,7,8])
print(s)
print(type(s))

1    12
2    12
3    12
4    12
5    12
6    12
7    12
8    12
dtype: int64
<class 'pandas.core.series.Series'>

In [23]:
s1=pd.Series(12,index=[1,2,3,4,5,6,7,8])
s2=pd.Series(13,index=[1,2,3,4])
print(s1+s2)

1    25.0
2    25.0
3    25.0
4    25.0
5     NaN
6     NaN
7     NaN
8     NaN
dtype: float64

DataFrame

In [25]:
l=[1,2,3,4,5,6]
var=pd.DataFrame(l)
print(var)
print(type(var))

   0
0  1
1  2
2  3
3  4
4  5
5  6
<class 'pandas.core.frame.DataFrame'>

In [28]:
l=[1,2,3,4,67,9]
var=pd.DataFrame(l)
var

    0
0   1
1   2
2   3
3   4
4  67
5   9

In [32]:
d={"a":[1,2,34,4,3,5],"b":[1,2,3,4,5,6]}
var=pd.DataFrame(d)
print(var)
print(type(var))

    a  b
0   1  1
1   2  2
2  34  3
3   4  4
4   3  5
5   5  6
<class 'pandas.core.frame.DataFrame'>

In [33]:
d={"a":[1,2,34,4,3,5],"b":[1,2,3,4,5,6]}
var=pd.DataFrame(d,columns=["a"])
print(var)
print(type(var))

    a
0   1
1   2
2  34
3   4
4   3
5   5
<class 'pandas.core.frame.DataFrame'>

In [34]:
d={"a":[1,2,34,4,3,5],"b":[1,2,3,4,5,6],"c":[1,1,1,1,1,1],"d":[1,2,3,4,4,2],1:[1,2,4,6,3,1]}
var=pd.DataFrame(d,columns=["a",1])
print(var)
print(type(var))

    a  1
0   1  1
1   2  2
2  34  4
3   4  6
4   3  3
5   5  1
<class 'pandas.core.frame.DataFrame'>

In [37]:
d={"a":[1,2,34,4,3,5],"b":[1,2,3,4,5,6],"c":[1,1,1,1,1,1],"d":[1,2,3,4,4,2],1:[1,2,4,6,3,1]}
var=pd.DataFrame(d,columns=["a",1],index=["a","b","c","d","e","f"])
print(var)
print(type(var))
print(var["a"][2])

    a  1
a   1  1
b   2  2
c  34  4
d   4  6
e   3  3
f   5  1
<class 'pandas.core.frame.DataFrame'>
34

C:\Users\Dinesh kumar yadav\AppData\Local\Temp\ipykernel_31164\3719551899.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(var["a"][2])

In [38]:
list_1=[[1,2,3,4,5,6],[2,3,5,8,4,6,3]]
var=pd.DataFrame(list_1)
print(type(var))
print(var)

<class 'pandas.core.frame.DataFrame'>
   0  1  2  3  4  5    6
0  1  2  3  4  5  6  NaN
1  2  3  5  8  4  6  3.0

In [41]:
sr={"s":pd.Series([1,2,4,2]),"k":pd.Series([2,1,4,23])}
print(sr)
print(type(sr))
sr1=pd.DataFrame(sr)
print(sr1)
print(type(sr1))

{'s': 0    1
1    2
2    4
3    2
dtype: int64, 'k': 0     2
1     1
2     4
3    23
dtype: int64}
<class 'dict'>
   s   k
0  1   2
1  2   1
2  4   4
3  2  23
<class 'pandas.core.frame.DataFrame'>

ARITHMETIC OPERATIONS

In [1]:
import pandas as pd
var =pd.DataFrame({"A":[1,2,3,4],"B":[3,5,12,4]})
var

   A   B
0  1   3
1  2   5
2  3  12
3  4   4

In [2]:
var["C"]=var["A"]+var["B"]
var

   A   B   C
0  1   3   4
1  2   5   7
2  3  12  15
3  4   4   8

In [3]:
var["C"]=var["A"]-var["B"]
var

   A   B  C
0  1   3 -2
1  2   5 -3
2  3  12 -9
3  4   4  0

In [4]:
var["C"]=var["A"]*var["B"]
var

   A   B   C
0  1   3   3
1  2   5  10
2  3  12  36
3  4   4  16

In [5]:
var["C"]=var["A"]/var["B"]
var

   A   B         C
0  1   3  0.333333
1  2   5  0.400000
2  3  12  0.250000
3  4   4  1.000000

In [6]:
var1=pd.DataFrame({"A":[10,20,30,40],"B":[15,16,17,18]})
var1

    A   B
0  10  15
1  20  16
2  30  17
3  40  18

In [11]:
var1["Python"]=var1["A"]<=25
var1["Java"]=var1["B"]>=16
var1

    A   B  Python   Java
0  10  15    True  False
1  20  16    True   True
2  30  17   False   True
3  40  18   False   True

INSERT

In [13]:
var =pd.DataFrame({"A":[1,2,3,4],"B":[3,5,12,4]})
var

   A   B
0  1   3
1  2   5
2  3  12
3  4   4

In [29]:
import pandas as pd
x=pd.DataFrame({"A":[10,20,30,40,50],"B":[12,23,42,13,42]})
x.insert(0,"Python",x["A"])
x

   Python   A   B
0      10  10  12
1      20  20  23
2      30  30  42
3      40  40  13
4      50  50  42

In [30]:
x.insert(1,"Java",x["B"])
x

   Python  Java   A   B
0      10    12  10  12
1      20    23  20  23
2      30    42  30  42
3      40    13  40  13
4      50    42  50  42

In [32]:
x.insert(1,"CPP",[12,13,13,24,25])
x

   Python  CPP  Java   A   B
0      10   12    12  10  12
1      20   13    23  20  23
2      30   13    42  30  42
3      40   24    13  40  13
4      50   25    42  50  42

In [33]:
x["Kotlin"]=x["A"][:3]
x

   Python  CPP  Java   A   B  Kotlin
0      10   12    12  10  12    10.0
1      20   13    23  20  23    20.0
2      30   13    42  30  42    30.0
3      40   24    13  40  13     NaN
4      50   25    42  50  42     NaN

DELETE

In [34]:
x=pd.DataFrame({"A":[10,20,30,40,50],"B":[12,23,42,13,42]})
x1=x.pop("B")
x1

0    12
1    23
2    42
3    13
4    42
Name: B, dtype: int64

In [35]:
x

    A
0  10
1  20
2  30
3  40
4  50

In [36]:
del x["A"]
x

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

WRITE CSV

In [42]:
import pandas as pd
dis={"a":[1,2,3,4,5,6],"s":[1,2,3,4,5,6],"d":[1,2,3,4,5,6]}
d=pd.DataFrame(dis)
print(d)
d.to_csv("Text.csv")

   a  s  d
0  1  1  1
1  2  2  2
2  3  3  3
3  4  4  4
4  5  5  5
5  6  6  6

In [40]:
d.to_csv("Text2.csv",index=False)

In [43]:
d.to_csv("Text3.csv",index=False,header=[1,2,3])

READ CSV

In [46]:
import pandas as pd
csv_1=pd.read_csv("D:\\Machine Learning\\Python Library\\test.csv")
csv_1

      SYMBOL                  SECURITY  TOTAL-VOLUME  AVG.VOLUME      CHANGE
0       ARYA       ELELTROTHRM LIMITED        452555        7894     50.5630
1       ANVI                     ISGEC          5252        4658    542.6650
2      RAHUL                       GKW         52562       56487    225.6600
3     DINESH                       IBM         23623        5668     25.6500
4     MUKESH                      LINC         23623        3256    225.5500
5      ARYAN                     HONDA        956956       32665   5566.5600
6     MANISH                    HUNDAI        786453      265523  52553.5500
7   ABHISHEK                    SUZUKI       8465356       26583  52285.5500
8      SUMAN                       BMW       5629856      559532   5288.5600
9      PRIYA                VOLKSWAGAN       7645645        9632   5588.8800
10    SUHANI                    MARUTI      98654846     2596235  25885.5880
11     ADITI                TATA MOTOR        895623       65989   5548.5500
12   PRANCHI           SKM EGG PRODUCT    6238959856      545255  55558.8000
13      RIYA        UNIPHOS ENTERPRISE      84564563      656555    558.5700
14   NATASHA                JAGSONPAL        5623956      986523    186.5500
15   ABHINAV        MANAGEMENT SERVICE       9569856      255651    558.5558
16    SAHBAJ         HINDCON CHEMICALS       8556356       52355     55.5850
17     ANKIT                     N.B.I       7984653      656582    558.5880
18     ROHAN        SHIV MILLS LIMITED       4514512       68526  25256.5500
19   SARVESH  NAHAR POLY FILMS LIMITED         98562        2285   5558.5950
20      AYAN          ALPHAGEO LIMITED         96523     6565658  55585.5500
21   AVINASH                    GOOGLE        845123      225863  55875.5590
22     AYUSH                 MICROSOFT       2985623        2255   5855.5890
23    GAURAV                    SPACEX        645125     2555454   5553.5500
24      SHAN               BLUE ORIGIN       6525412      555252    255.5265

In [50]:
csv_2=pd.read_csv("D:\\Machine Learning\\Python Library\\test.csv",nrows=1)
print(csv_2)
print(type(csv_2))

  SYMBOL             SECURITY  TOTAL-VOLUME  AVG.VOLUME  CHANGE
0   ARYA  ELELTROTHRM LIMITED        452555        7894  50.563
<class 'pandas.core.frame.DataFrame'>

In [51]:
csv_2=pd.read_csv("D:\\Machine Learning\\Python Library\\test.csv",nrows=3)
csv_2

  SYMBOL             SECURITY  TOTAL-VOLUME  AVG.VOLUME   CHANGE
0   ARYA  ELELTROTHRM LIMITED        452555        7894   50.563
1   ANVI                ISGEC          5252        4658  542.665
2  RAHUL                  GKW         52562       56487  225.660

In [53]:
csv_2=pd.read_csv("D:\\Machine Learning\\Python Library\\test.csv",usecols=["SYMBOL"])
csv_2

      SYMBOL
0       ARYA
1       ANVI
2      RAHUL
3     DINESH
4     MUKESH
5      ARYAN
6     MANISH
7   ABHISHEK
8      SUMAN
9      PRIYA
10    SUHANI
11     ADITI
12   PRANCHI
13      RIYA
14   NATASHA
15   ABHINAV
16    SAHBAJ
17     ANKIT
18     ROHAN
19   SARVESH
20      AYAN
21   AVINASH
22     AYUSH
23    GAURAV
24      SHAN

In [54]:
csv_2=pd.read_csv("D:\\Machine Learning\\Python Library\\test.csv",usecols=[0,3])
csv_2

      SYMBOL  AVG.VOLUME
0       ARYA        7894
1       ANVI        4658
2      RAHUL       56487
3     DINESH        5668
4     MUKESH        3256
5      ARYAN       32665
6     MANISH      265523
7   ABHISHEK       26583
8      SUMAN      559532
9      PRIYA        9632
10    SUHANI     2596235
11     ADITI       65989
12   PRANCHI      545255
13      RIYA      656555
14   NATASHA      986523
15   ABHINAV      255651
16    SAHBAJ       52355
17     ANKIT      656582
18     ROHAN       68526
19   SARVESH        2285
20      AYAN     6565658
21   AVINASH      225863
22     AYUSH        2255
23    GAURAV     2555454
24      SHAN      555252

In [55]:
csv_2=pd.read_csv("D:\\Machine Learning\\Python Library\\test.csv",skiprows=[0])
csv_2

        ARYA       ELELTROTHRM LIMITED      452555     7894      50.563
0       ANVI                     ISGEC        5252     4658    542.6650
1      RAHUL                       GKW       52562    56487    225.6600
2     DINESH                       IBM       23623     5668     25.6500
3     MUKESH                      LINC       23623     3256    225.5500
4      ARYAN                     HONDA      956956    32665   5566.5600
5     MANISH                    HUNDAI      786453   265523  52553.5500
6   ABHISHEK                    SUZUKI     8465356    26583  52285.5500
7      SUMAN                       BMW     5629856   559532   5288.5600
8      PRIYA                VOLKSWAGAN     7645645     9632   5588.8800
9     SUHANI                    MARUTI    98654846  2596235  25885.5880
10     ADITI                TATA MOTOR      895623    65989   5548.5500
11   PRANCHI           SKM EGG PRODUCT  6238959856   545255  55558.8000
12      RIYA        UNIPHOS ENTERPRISE    84564563   656555    558.5700
13   NATASHA                JAGSONPAL      5623956   986523    186.5500
14   ABHINAV        MANAGEMENT SERVICE     9569856   255651    558.5558
15    SAHBAJ         HINDCON CHEMICALS     8556356    52355     55.5850
16     ANKIT                     N.B.I     7984653   656582    558.5880
17     ROHAN        SHIV MILLS LIMITED     4514512    68526  25256.5500
18   SARVESH  NAHAR POLY FILMS LIMITED       98562     2285   5558.5950
19      AYAN          ALPHAGEO LIMITED       96523  6565658  55585.5500
20   AVINASH                    GOOGLE      845123   225863  55875.5590
21     AYUSH                 MICROSOFT     2985623     2255   5855.5890
22    GAURAV                    SPACEX      645125  2555454   5553.5500
23      SHAN               BLUE ORIGIN     6525412   555252    255.5265

In [56]:
csv_2=pd.read_csv("D:\\Machine Learning\\Python Library\\test.csv",index_col="SYMBOL")
csv_2

                          SECURITY  TOTAL-VOLUME  AVG.VOLUME      CHANGE
SYMBOL
ARYA           ELELTROTHRM LIMITED        452555        7894     50.5630
ANVI                         ISGEC          5252        4658    542.6650
RAHUL                          GKW         52562       56487    225.6600
DINESH                         IBM         23623        5668     25.6500
MUKESH                        LINC         23623        3256    225.5500
ARYAN                        HONDA        956956       32665   5566.5600
MANISH                      HUNDAI        786453      265523  52553.5500
ABHISHEK                    SUZUKI       8465356       26583  52285.5500
SUMAN                          BMW       5629856      559532   5288.5600
PRIYA                   VOLKSWAGAN       7645645        9632   5588.8800
SUHANI                      MARUTI      98654846     2596235  25885.5880
ADITI                   TATA MOTOR        895623       65989   5548.5500
PRANCHI            SKM EGG PRODUCT    6238959856      545255  55558.8000
RIYA            UNIPHOS ENTERPRISE      84564563      656555    558.5700
NATASHA                 JAGSONPAL        5623956      986523    186.5500
ABHINAV         MANAGEMENT SERVICE       9569856      255651    558.5558
SAHBAJ           HINDCON CHEMICALS       8556356       52355     55.5850
ANKIT                        N.B.I       7984653      656582    558.5880
ROHAN           SHIV MILLS LIMITED       4514512       68526  25256.5500
SARVESH   NAHAR POLY FILMS LIMITED         98562        2285   5558.5950
AYAN              ALPHAGEO LIMITED         96523     6565658  55585.5500
AVINASH                     GOOGLE        845123      225863  55875.5590
AYUSH                    MICROSOFT       2985623        2255   5855.5890
GAURAV                      SPACEX        645125     2555454   5553.5500
SHAN                   BLUE ORIGIN       6525412      555252    255.5265

In [57]:
csv_2=pd.read_csv("D:\\Machine Learning\\Python Library\\test.csv",header=2)
csv_2

        ANVI                     ISGEC        5252     4658     542.665
0      RAHUL                       GKW       52562    56487    225.6600
1     DINESH                       IBM       23623     5668     25.6500
2     MUKESH                      LINC       23623     3256    225.5500
3      ARYAN                     HONDA      956956    32665   5566.5600
4     MANISH                    HUNDAI      786453   265523  52553.5500
5   ABHISHEK                    SUZUKI     8465356    26583  52285.5500
6      SUMAN                       BMW     5629856   559532   5288.5600
7      PRIYA                VOLKSWAGAN     7645645     9632   5588.8800
8     SUHANI                    MARUTI    98654846  2596235  25885.5880
9      ADITI                TATA MOTOR      895623    65989   5548.5500
10   PRANCHI           SKM EGG PRODUCT  6238959856   545255  55558.8000
11      RIYA        UNIPHOS ENTERPRISE    84564563   656555    558.5700
12   NATASHA                JAGSONPAL      5623956   986523    186.5500
13   ABHINAV        MANAGEMENT SERVICE     9569856   255651    558.5558
14    SAHBAJ         HINDCON CHEMICALS     8556356    52355     55.5850
15     ANKIT                     N.B.I     7984653   656582    558.5880
16     ROHAN        SHIV MILLS LIMITED     4514512    68526  25256.5500
17   SARVESH  NAHAR POLY FILMS LIMITED       98562     2285   5558.5950
18      AYAN          ALPHAGEO LIMITED       96523  6565658  55585.5500
19   AVINASH                    GOOGLE      845123   225863  55875.5590
20     AYUSH                 MICROSOFT     2985623     2255   5855.5890
21    GAURAV                    SPACEX      645125  2555454   5553.5500
22      SHAN               BLUE ORIGIN     6525412   555252    255.5265

In [58]:
csv_2=pd.read_csv("D:\\Machine Learning\\Python Library\\test.csv",names=["col"])
csv_2

                                                                 col
SYMBOL   SECURITY                 TOTAL-VOLUME AVG.VOLUME     CHANGE
ARYA     ELELTROTHRM LIMITED      452555       7894           50.563
ANVI     ISGEC                    5252         4658          542.665
RAHUL    GKW                      52562        56487          225.66
DINESH   IBM                      23623        5668            25.65
MUKESH   LINC                     23623        3256           225.55
ARYAN    HONDA                    956956       32665         5566.56
MANISH   HUNDAI                   786453       265523       52553.55
ABHISHEK SUZUKI                   8465356      26583        52285.55
SUMAN    BMW                      5629856      559532        5288.56
PRIYA    VOLKSWAGAN               7645645      9632          5588.88
SUHANI   MARUTI                   98654846     2596235     25885.588
ADITI    TATA MOTOR               895623       65989         5548.55
PRANCHI  SKM EGG PRODUCT          6238959856   545255        55558.8
RIYA     UNIPHOS ENTERPRISE       84564563     656555         558.57
NATASHA  JAGSONPAL                5623956      986523         186.55
ABHINAV  MANAGEMENT SERVICE       9569856      255651       558.5558
SAHBAJ   HINDCON CHEMICALS        8556356      52355          55.585
ANKIT    N.B.I                    7984653      656582        558.588
ROHAN    SHIV MILLS LIMITED       4514512      68526        25256.55
SARVESH  NAHAR POLY FILMS LIMITED 98562        2285         5558.595
AYAN     ALPHAGEO LIMITED         96523        6565658      55585.55
AVINASH  GOOGLE                   845123       225863      55875.559
AYUSH    MICROSOFT                2985623      2255         5855.589
GAURAV   SPACEX                   645125       2555454       5553.55
SHAN     BLUE ORIGIN              6525412      555252       255.5265

In [60]:
csv_2=pd.read_csv("D:\\Machine Learning\\Python Library\\test.csv",names=["col1","col2","col3","col4"])
csv_2

                              col1          col2        col3       col4
SYMBOL                    SECURITY  TOTAL-VOLUME  AVG.VOLUME     CHANGE
ARYA           ELELTROTHRM LIMITED        452555        7894     50.563
ANVI                         ISGEC          5252        4658    542.665
RAHUL                          GKW         52562       56487     225.66
DINESH                         IBM         23623        5668      25.65
MUKESH                        LINC         23623        3256     225.55
ARYAN                        HONDA        956956       32665    5566.56
MANISH                      HUNDAI        786453      265523   52553.55
ABHISHEK                    SUZUKI       8465356       26583   52285.55
SUMAN                          BMW       5629856      559532    5288.56
PRIYA                   VOLKSWAGAN       7645645        9632    5588.88
SUHANI                      MARUTI      98654846     2596235  25885.588
ADITI                   TATA MOTOR        895623       65989    5548.55
PRANCHI            SKM EGG PRODUCT    6238959856      545255    55558.8
RIYA            UNIPHOS ENTERPRISE      84564563      656555     558.57
NATASHA                 JAGSONPAL        5623956      986523     186.55
ABHINAV         MANAGEMENT SERVICE       9569856      255651   558.5558
SAHBAJ           HINDCON CHEMICALS       8556356       52355     55.585
ANKIT                        N.B.I       7984653      656582    558.588
ROHAN           SHIV MILLS LIMITED       4514512       68526   25256.55
SARVESH   NAHAR POLY FILMS LIMITED         98562        2285   5558.595
AYAN              ALPHAGEO LIMITED         96523     6565658   55585.55
AVINASH                     GOOGLE        845123      225863  55875.559
AYUSH                    MICROSOFT       2985623        2255   5855.589
GAURAV                      SPACEX        645125     2555454    5553.55
SHAN                   BLUE ORIGIN       6525412      555252   255.5265

In [61]:
csv_2=pd.read_csv("D:\\Machine Learning\\Python Library\\test.csv",header=None)
csv_2

           0                         1             2           3          4
0     SYMBOL                  SECURITY  TOTAL-VOLUME  AVG.VOLUME     CHANGE
1       ARYA       ELELTROTHRM LIMITED        452555        7894     50.563
2       ANVI                     ISGEC          5252        4658    542.665
3      RAHUL                       GKW         52562       56487     225.66
4     DINESH                       IBM         23623        5668      25.65
5     MUKESH                      LINC         23623        3256     225.55
6      ARYAN                     HONDA        956956       32665    5566.56
7     MANISH                    HUNDAI        786453      265523   52553.55
8   ABHISHEK                    SUZUKI       8465356       26583   52285.55
9      SUMAN                       BMW       5629856      559532    5288.56
10     PRIYA                VOLKSWAGAN       7645645        9632    5588.88
11    SUHANI                    MARUTI      98654846     2596235  25885.588
12     ADITI                TATA MOTOR        895623       65989    5548.55
13   PRANCHI           SKM EGG PRODUCT    6238959856      545255    55558.8
14      RIYA        UNIPHOS ENTERPRISE      84564563      656555     558.57
15   NATASHA                JAGSONPAL        5623956      986523     186.55
16   ABHINAV        MANAGEMENT SERVICE       9569856      255651   558.5558
17    SAHBAJ         HINDCON CHEMICALS       8556356       52355     55.585
18     ANKIT                     N.B.I       7984653      656582    558.588
19     ROHAN        SHIV MILLS LIMITED       4514512       68526   25256.55
20   SARVESH  NAHAR POLY FILMS LIMITED         98562        2285   5558.595
21      AYAN          ALPHAGEO LIMITED         96523     6565658   55585.55
22   AVINASH                    GOOGLE        845123      225863  55875.559
23     AYUSH                 MICROSOFT       2985623        2255   5855.589
24    GAURAV                    SPACEX        645125     2555454    5553.55
25      SHAN               BLUE ORIGIN       6525412      555252   255.5265

In [66]:
# csv_2=pd.read_csv("D:\\Machine Learning\\Python Library\\test.csv",header=None, prefix="col")
# csv_2

In [69]:
csv_2=pd.read_csv("D:\\Machine Learning\\Python Library\\test.csv",dtype={"TOTAL-VOLUME":"float"})
csv_2

      SYMBOL                  SECURITY  TOTAL-VOLUME  AVG.VOLUME      CHANGE
0       ARYA       ELELTROTHRM LIMITED  4.525550e+05        7894     50.5630
1       ANVI                     ISGEC  5.252000e+03        4658    542.6650
2      RAHUL                       GKW  5.256200e+04       56487    225.6600
3     DINESH                       IBM  2.362300e+04        5668     25.6500
4     MUKESH                      LINC  2.362300e+04        3256    225.5500
5      ARYAN                     HONDA  9.569560e+05       32665   5566.5600
6     MANISH                    HUNDAI  7.864530e+05      265523  52553.5500
7   ABHISHEK                    SUZUKI  8.465356e+06       26583  52285.5500
8      SUMAN                       BMW  5.629856e+06      559532   5288.5600
9      PRIYA                VOLKSWAGAN  7.645645e+06        9632   5588.8800
10    SUHANI                    MARUTI  9.865485e+07     2596235  25885.5880
11     ADITI                TATA MOTOR  8.956230e+05       65989   5548.5500
12   PRANCHI           SKM EGG PRODUCT  6.238960e+09      545255  55558.8000
13      RIYA        UNIPHOS ENTERPRISE  8.456456e+07      656555    558.5700
14   NATASHA                JAGSONPAL   5.623956e+06      986523    186.5500
15   ABHINAV        MANAGEMENT SERVICE  9.569856e+06      255651    558.5558
16    SAHBAJ         HINDCON CHEMICALS  8.556356e+06       52355     55.5850
17     ANKIT                     N.B.I  7.984653e+06      656582    558.5880
18     ROHAN        SHIV MILLS LIMITED  4.514512e+06       68526  25256.5500
19   SARVESH  NAHAR POLY FILMS LIMITED  9.856200e+04        2285   5558.5950
20      AYAN          ALPHAGEO LIMITED  9.652300e+04     6565658  55585.5500
21   AVINASH                    GOOGLE  8.451230e+05      225863  55875.5590
22     AYUSH                 MICROSOFT  2.985623e+06        2255   5855.5890
23    GAURAV                    SPACEX  6.451250e+05     2555454   5553.5500
24      SHAN               BLUE ORIGIN  6.525412e+06      555252    255.5265

PANDAS FUNCTION

In [106]:
import pandas as pd
csv_2=pd.read_csv("D:\\Machine Learning\\Python Library\\test.csv")
csv_2

      SYMBOL                  SECURITY  TOTAL-VOLUME  AVG.VOLUME      CHANGE
0       ARYA       ELELTROTHRM LIMITED  4.525550e+05      7894.0     50.5630
1       ANVI                     ISGEC  5.252000e+03      4658.0    542.6650
2      RAHUL                       GKW  5.256200e+04     56487.0    225.6600
3     DINESH                       IBM  2.362300e+04      5668.0     25.6500
4     MUKESH                      LINC  2.362300e+04      3256.0    225.5500
5      ARYAN                     HONDA  9.569560e+05     32665.0   5566.5600
6     MANISH                    HUNDAI  7.864530e+05    265523.0  52553.5500
7   ABHISHEK                    SUZUKI  8.465356e+06     26583.0  52285.5500
8      SUMAN                       BMW  5.629856e+06    559532.0   5288.5600
9        NaN                VOLKSWAGAN  7.645645e+06      9632.0         NaN
10    SUHANI                    MARUTI  9.865485e+07   2596235.0  25885.5880
11     ADITI                TATA MOTOR  8.956230e+05     65989.0   5548.5500
12   PRANCHI           SKM EGG PRODUCT  6.238960e+09    545255.0  55558.8000
13      RIYA        UNIPHOS ENTERPRISE  8.456456e+07    656555.0    558.5700
14   NATASHA                JAGSONPAL   5.623956e+06    986523.0    186.5500
15   ABHINAV        MANAGEMENT SERVICE           NaN    255651.0    558.5558
16    SAHBAJ         HINDCON CHEMICALS  8.556356e+06     52355.0     55.5850
17     ANKIT                     N.B.I  7.984653e+06    656582.0    558.5880
18     ROHAN                       NaN  4.514512e+06     68526.0  25256.5500
19   SARVESH  NAHAR POLY FILMS LIMITED  9.856200e+04      2285.0   5558.5950
20       NaN                       NaN           NaN         NaN         NaN
21   AVINASH                    GOOGLE  8.451230e+05    225863.0  55875.5590
22     AYUSH                 MICROSOFT  2.985623e+06      2255.0   5855.5890
23    GAURAV                    SPACEX  6.451250e+05   2555454.0   5553.5500
24      SHAN               BLUE ORIGIN  6.525412e+06    555252.0    255.5265

In [71]:
csv_2.index

RangeIndex(start=0, stop=25, step=1)

In [72]:
csv_2.columns

Index(['SYMBOL', 'SECURITY', 'TOTAL-VOLUME', 'AVG.VOLUME', 'CHANGE'], dtype='object')

In [73]:
csv_2.describe()

       TOTAL-VOLUME    AVG.VOLUME        CHANGE
count  2.500000e+01  2.500000e+01     25.000000
mean   2.597825e+08  6.704934e+05  14608.195772
std    1.245907e+09  1.415650e+06  21394.783647
min    5.252000e+03  2.255000e+03     25.650000
25%    4.525550e+05  9.632000e+03    255.526500
50%    2.985623e+06  6.852600e+04   5548.550000
75%    7.984653e+06  5.595320e+05  25256.550000
max    6.238960e+09  6.565658e+06  55875.559000

In [74]:
csv_2.head()

   SYMBOL             SECURITY  TOTAL-VOLUME  AVG.VOLUME   CHANGE
0    ARYA  ELELTROTHRM LIMITED        452555        7894   50.563
1    ANVI                ISGEC          5252        4658  542.665
2   RAHUL                  GKW         52562       56487  225.660
3  DINESH                  IBM         23623        5668   25.650
4  MUKESH                 LINC         23623        3256  225.550

In [75]:
csv_2.head(4)

   SYMBOL             SECURITY  TOTAL-VOLUME  AVG.VOLUME   CHANGE
0    ARYA  ELELTROTHRM LIMITED        452555        7894   50.563
1    ANVI                ISGEC          5252        4658  542.665
2   RAHUL                  GKW         52562       56487  225.660
3  DINESH                  IBM         23623        5668   25.650

In [76]:
csv_2.tail()

     SYMBOL          SECURITY  TOTAL-VOLUME  AVG.VOLUME      CHANGE
20     AYAN  ALPHAGEO LIMITED         96523     6565658  55585.5500
21  AVINASH            GOOGLE        845123      225863  55875.5590
22    AYUSH         MICROSOFT       2985623        2255   5855.5890
23   GAURAV            SPACEX        645125     2555454   5553.5500
24     SHAN       BLUE ORIGIN       6525412      555252    255.5265

In [78]:
csv_2.tail(3)

    SYMBOL     SECURITY  TOTAL-VOLUME  AVG.VOLUME     CHANGE
22   AYUSH    MICROSOFT       2985623        2255  5855.5890
23  GAURAV       SPACEX        645125     2555454  5553.5500
24    SHAN  BLUE ORIGIN       6525412      555252   255.5265

In [81]:
csv_2[:1]

  SYMBOL             SECURITY  TOTAL-VOLUME  AVG.VOLUME  CHANGE
0   ARYA  ELELTROTHRM LIMITED        452555        7894  50.563

In [82]:
csv_2[2:5]

   SYMBOL SECURITY  TOTAL-VOLUME  AVG.VOLUME  CHANGE
2   RAHUL      GKW         52562       56487  225.66
3  DINESH      IBM         23623        5668   25.65
4  MUKESH     LINC         23623        3256  225.55

In [84]:
print(type(csv_2))

<class 'pandas.core.frame.DataFrame'>

In [85]:
csv_2.index.array

<NumpyExtensionArray>
[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
 19, 20, 21, 22, 23, 24]
Length: 25, dtype: int64

In [86]:
csv_2.to_numpy()

array([['ARYA', 'ELELTROTHRM LIMITED', 452555, 7894, 50.563],
       ['ANVI', 'ISGEC', 5252, 4658, 542.665],
       ['RAHUL', 'GKW', 52562, 56487, 225.66],
       ['DINESH', 'IBM', 23623, 5668, 25.65],
       ['MUKESH', 'LINC', 23623, 3256, 225.55],
       ['ARYAN', 'HONDA', 956956, 32665, 5566.56],
       ['MANISH', 'HUNDAI', 786453, 265523, 52553.55],
       ['ABHISHEK', 'SUZUKI', 8465356, 26583, 52285.55],
       ['SUMAN', 'BMW', 5629856, 559532, 5288.56],
       ['PRIYA', 'VOLKSWAGAN', 7645645, 9632, 5588.88],
       ['SUHANI', 'MARUTI', 98654846, 2596235, 25885.588],
       ['ADITI', 'TATA MOTOR', 895623, 65989, 5548.55],
       ['PRANCHI', 'SKM EGG PRODUCT', 6238959856, 545255, 55558.8],
       ['RIYA', 'UNIPHOS ENTERPRISE', 84564563, 656555, 558.57],
       ['NATASHA', 'JAGSONPAL ', 5623956, 986523, 186.55],
       ['ABHINAV', 'MANAGEMENT SERVICE', 9569856, 255651, 558.5558],
       ['SAHBAJ', 'HINDCON CHEMICALS', 8556356, 52355, 55.585],
       ['ANKIT', 'N.B.I', 7984653, 656582, 558.588],
       ['ROHAN', 'SHIV MILLS LIMITED', 4514512, 68526, 25256.55],
       ['SARVESH', 'NAHAR POLY FILMS LIMITED', 98562, 2285, 5558.595],
       ['AYAN', 'ALPHAGEO LIMITED', 96523, 6565658, 55585.55],
       ['AVINASH', 'GOOGLE', 845123, 225863, 55875.559],
       ['AYUSH', 'MICROSOFT', 2985623, 2255, 5855.589],
       ['GAURAV', 'SPACEX', 645125, 2555454, 5553.55],
       ['SHAN', 'BLUE ORIGIN', 6525412, 555252, 255.5265]], dtype=object)

In [87]:
import numpy as np
var=np.asarray(csv_2)
var

array([['ARYA', 'ELELTROTHRM LIMITED', 452555, 7894, 50.563],
       ['ANVI', 'ISGEC', 5252, 4658, 542.665],
       ['RAHUL', 'GKW', 52562, 56487, 225.66],
       ['DINESH', 'IBM', 23623, 5668, 25.65],
       ['MUKESH', 'LINC', 23623, 3256, 225.55],
       ['ARYAN', 'HONDA', 956956, 32665, 5566.56],
       ['MANISH', 'HUNDAI', 786453, 265523, 52553.55],
       ['ABHISHEK', 'SUZUKI', 8465356, 26583, 52285.55],
       ['SUMAN', 'BMW', 5629856, 559532, 5288.56],
       ['PRIYA', 'VOLKSWAGAN', 7645645, 9632, 5588.88],
       ['SUHANI', 'MARUTI', 98654846, 2596235, 25885.588],
       ['ADITI', 'TATA MOTOR', 895623, 65989, 5548.55],
       ['PRANCHI', 'SKM EGG PRODUCT', 6238959856, 545255, 55558.8],
       ['RIYA', 'UNIPHOS ENTERPRISE', 84564563, 656555, 558.57],
       ['NATASHA', 'JAGSONPAL ', 5623956, 986523, 186.55],
       ['ABHINAV', 'MANAGEMENT SERVICE', 9569856, 255651, 558.5558],
       ['SAHBAJ', 'HINDCON CHEMICALS', 8556356, 52355, 55.585],
       ['ANKIT', 'N.B.I', 7984653, 656582, 558.588],
       ['ROHAN', 'SHIV MILLS LIMITED', 4514512, 68526, 25256.55],
       ['SARVESH', 'NAHAR POLY FILMS LIMITED', 98562, 2285, 5558.595],
       ['AYAN', 'ALPHAGEO LIMITED', 96523, 6565658, 55585.55],
       ['AVINASH', 'GOOGLE', 845123, 225863, 55875.559],
       ['AYUSH', 'MICROSOFT', 2985623, 2255, 5855.589],
       ['GAURAV', 'SPACEX', 645125, 2555454, 5553.55],
       ['SHAN', 'BLUE ORIGIN', 6525412, 555252, 255.5265]], dtype=object)

In [88]:
csv_2.sort_index(axis=0,ascending=False)

      SYMBOL                  SECURITY  TOTAL-VOLUME  AVG.VOLUME      CHANGE
24      SHAN               BLUE ORIGIN       6525412      555252    255.5265
23    GAURAV                    SPACEX        645125     2555454   5553.5500
22     AYUSH                 MICROSOFT       2985623        2255   5855.5890
21   AVINASH                    GOOGLE        845123      225863  55875.5590
20      AYAN          ALPHAGEO LIMITED         96523     6565658  55585.5500
19   SARVESH  NAHAR POLY FILMS LIMITED         98562        2285   5558.5950
18     ROHAN        SHIV MILLS LIMITED       4514512       68526  25256.5500
17     ANKIT                     N.B.I       7984653      656582    558.5880
16    SAHBAJ         HINDCON CHEMICALS       8556356       52355     55.5850
15   ABHINAV        MANAGEMENT SERVICE       9569856      255651    558.5558
14   NATASHA                JAGSONPAL        5623956      986523    186.5500
13      RIYA        UNIPHOS ENTERPRISE      84564563      656555    558.5700
12   PRANCHI           SKM EGG PRODUCT    6238959856      545255  55558.8000
11     ADITI                TATA MOTOR        895623       65989   5548.5500
10    SUHANI                    MARUTI      98654846     2596235  25885.5880
9      PRIYA                VOLKSWAGAN       7645645        9632   5588.8800
8      SUMAN                       BMW       5629856      559532   5288.5600
7   ABHISHEK                    SUZUKI       8465356       26583  52285.5500
6     MANISH                    HUNDAI        786453      265523  52553.5500
5      ARYAN                     HONDA        956956       32665   5566.5600
4     MUKESH                      LINC         23623        3256    225.5500
3     DINESH                       IBM         23623        5668     25.6500
2      RAHUL                       GKW         52562       56487    225.6600
1       ANVI                     ISGEC          5252        4658    542.6650
0       ARYA       ELELTROTHRM LIMITED        452555        7894     50.5630

In [89]:
csv_2["SYMBOL"][0]="Python"
csv_2

C:\Users\Dinesh kumar yadav\AppData\Local\Temp\ipykernel_27224\2415503938.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  csv_2["SYMBOL"][0]="Python"
C:\Users\Dinesh kumar yadav\AppData\Local\Temp\ipykernel_27224\2415503938.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csv_2["SYMBOL"][0]="Python"

      SYMBOL                  SECURITY  TOTAL-VOLUME  AVG.VOLUME      CHANGE
0     Python       ELELTROTHRM LIMITED        452555        7894     50.5630
1       ANVI                     ISGEC          5252        4658    542.6650
2      RAHUL                       GKW         52562       56487    225.6600
3     DINESH                       IBM         23623        5668     25.6500
4     MUKESH                      LINC         23623        3256    225.5500
5      ARYAN                     HONDA        956956       32665   5566.5600
6     MANISH                    HUNDAI        786453      265523  52553.5500
7   ABHISHEK                    SUZUKI       8465356       26583  52285.5500
8      SUMAN                       BMW       5629856      559532   5288.5600
9      PRIYA                VOLKSWAGAN       7645645        9632   5588.8800
10    SUHANI                    MARUTI      98654846     2596235  25885.5880
11     ADITI                TATA MOTOR        895623       65989   5548.5500
12   PRANCHI           SKM EGG PRODUCT    6238959856      545255  55558.8000
13      RIYA        UNIPHOS ENTERPRISE      84564563      656555    558.5700
14   NATASHA                JAGSONPAL        5623956      986523    186.5500
15   ABHINAV        MANAGEMENT SERVICE       9569856      255651    558.5558
16    SAHBAJ         HINDCON CHEMICALS       8556356       52355     55.5850
17     ANKIT                     N.B.I       7984653      656582    558.5880
18     ROHAN        SHIV MILLS LIMITED       4514512       68526  25256.5500
19   SARVESH  NAHAR POLY FILMS LIMITED         98562        2285   5558.5950
20      AYAN          ALPHAGEO LIMITED         96523     6565658  55585.5500
21   AVINASH                    GOOGLE        845123      225863  55875.5590
22     AYUSH                 MICROSOFT       2985623        2255   5855.5890
23    GAURAV                    SPACEX        645125     2555454   5553.5500
24      SHAN               BLUE ORIGIN       6525412      555252    255.5265

In [90]:
csv_2.loc[0,"SYMBOL"]="Python"
csv_2

      SYMBOL                  SECURITY  TOTAL-VOLUME  AVG.VOLUME      CHANGE
0     Python       ELELTROTHRM LIMITED        452555        7894     50.5630
1       ANVI                     ISGEC          5252        4658    542.6650
2      RAHUL                       GKW         52562       56487    225.6600
3     DINESH                       IBM         23623        5668     25.6500
4     MUKESH                      LINC         23623        3256    225.5500
5      ARYAN                     HONDA        956956       32665   5566.5600
6     MANISH                    HUNDAI        786453      265523  52553.5500
7   ABHISHEK                    SUZUKI       8465356       26583  52285.5500
8      SUMAN                       BMW       5629856      559532   5288.5600
9      PRIYA                VOLKSWAGAN       7645645        9632   5588.8800
10    SUHANI                    MARUTI      98654846     2596235  25885.5880
11     ADITI                TATA MOTOR        895623       65989   5548.5500
12   PRANCHI           SKM EGG PRODUCT    6238959856      545255  55558.8000
13      RIYA        UNIPHOS ENTERPRISE      84564563      656555    558.5700
14   NATASHA                JAGSONPAL        5623956      986523    186.5500
15   ABHINAV        MANAGEMENT SERVICE       9569856      255651    558.5558
16    SAHBAJ         HINDCON CHEMICALS       8556356       52355     55.5850
17     ANKIT                     N.B.I       7984653      656582    558.5880
18     ROHAN        SHIV MILLS LIMITED       4514512       68526  25256.5500
19   SARVESH  NAHAR POLY FILMS LIMITED         98562        2285   5558.5950
20      AYAN          ALPHAGEO LIMITED         96523     6565658  55585.5500
21   AVINASH                    GOOGLE        845123      225863  55875.5590
22     AYUSH                 MICROSOFT       2985623        2255   5855.5890
23    GAURAV                    SPACEX        645125     2555454   5553.5500
24      SHAN               BLUE ORIGIN       6525412      555252    255.5265

In [93]:
csv_2.loc[[2,5],["SYMBOL","SECURITY"]]

  SYMBOL SECURITY
2  RAHUL      GKW
5  ARYAN    HONDA

In [95]:
csv_2.loc[:,["SYMBOL","SECURITY"]]

      SYMBOL                  SECURITY
0     Python       ELELTROTHRM LIMITED
1       ANVI                     ISGEC
2      RAHUL                       GKW
3     DINESH                       IBM
4     MUKESH                      LINC
5      ARYAN                     HONDA
6     MANISH                    HUNDAI
7   ABHISHEK                    SUZUKI
8      SUMAN                       BMW
9      PRIYA                VOLKSWAGAN
10    SUHANI                    MARUTI
11     ADITI                TATA MOTOR
12   PRANCHI           SKM EGG PRODUCT
13      RIYA        UNIPHOS ENTERPRISE
14   NATASHA                JAGSONPAL
15   ABHINAV        MANAGEMENT SERVICE
16    SAHBAJ         HINDCON CHEMICALS
17     ANKIT                     N.B.I
18     ROHAN        SHIV MILLS LIMITED
19   SARVESH  NAHAR POLY FILMS LIMITED
20      AYAN          ALPHAGEO LIMITED
21   AVINASH                    GOOGLE
22     AYUSH                 MICROSOFT
23    GAURAV                    SPACEX
24      SHAN               BLUE ORIGIN

In [96]:
csv_2.loc[[2,5],:]

  SYMBOL SECURITY  TOTAL-VOLUME  AVG.VOLUME   CHANGE
2  RAHUL      GKW         52562       56487   225.66
5  ARYAN    HONDA        956956       32665  5566.56

In [98]:
csv_2.iloc[0,2]

np.int64(452555)

In [101]:
csv_2.drop("SECURITY",axis=1)

      SYMBOL  TOTAL-VOLUME  AVG.VOLUME      CHANGE
0     Python        452555        7894     50.5630
1       ANVI          5252        4658    542.6650
2      RAHUL         52562       56487    225.6600
3     DINESH         23623        5668     25.6500
4     MUKESH         23623        3256    225.5500
5      ARYAN        956956       32665   5566.5600
6     MANISH        786453      265523  52553.5500
7   ABHISHEK       8465356       26583  52285.5500
8      SUMAN       5629856      559532   5288.5600
9      PRIYA       7645645        9632   5588.8800
10    SUHANI      98654846     2596235  25885.5880
11     ADITI        895623       65989   5548.5500
12   PRANCHI    6238959856      545255  55558.8000
13      RIYA      84564563      656555    558.5700
14   NATASHA       5623956      986523    186.5500
15   ABHINAV       9569856      255651    558.5558
16    SAHBAJ       8556356       52355     55.5850
17     ANKIT       7984653      656582    558.5880
18     ROHAN       4514512       68526  25256.5500
19   SARVESH         98562        2285   5558.5950
20      AYAN         96523     6565658  55585.5500
21   AVINASH        845123      225863  55875.5590
22     AYUSH       2985623        2255   5855.5890
23    GAURAV        645125     2555454   5553.5500
24      SHAN       6525412      555252    255.5265

In [102]:
csv_2.drop(0,axis=0)

      SYMBOL                  SECURITY  TOTAL-VOLUME  AVG.VOLUME      CHANGE
1       ANVI                     ISGEC          5252        4658    542.6650
2      RAHUL                       GKW         52562       56487    225.6600
3     DINESH                       IBM         23623        5668     25.6500
4     MUKESH                      LINC         23623        3256    225.5500
5      ARYAN                     HONDA        956956       32665   5566.5600
6     MANISH                    HUNDAI        786453      265523  52553.5500
7   ABHISHEK                    SUZUKI       8465356       26583  52285.5500
8      SUMAN                       BMW       5629856      559532   5288.5600
9      PRIYA                VOLKSWAGAN       7645645        9632   5588.8800
10    SUHANI                    MARUTI      98654846     2596235  25885.5880
11     ADITI                TATA MOTOR        895623       65989   5548.5500
12   PRANCHI           SKM EGG PRODUCT    6238959856      545255  55558.8000
13      RIYA        UNIPHOS ENTERPRISE      84564563      656555    558.5700
14   NATASHA                JAGSONPAL        5623956      986523    186.5500
15   ABHINAV        MANAGEMENT SERVICE       9569856      255651    558.5558
16    SAHBAJ         HINDCON CHEMICALS       8556356       52355     55.5850
17     ANKIT                     N.B.I       7984653      656582    558.5880
18     ROHAN        SHIV MILLS LIMITED       4514512       68526  25256.5500
19   SARVESH  NAHAR POLY FILMS LIMITED         98562        2285   5558.5950
20      AYAN          ALPHAGEO LIMITED         96523     6565658  55585.5500
21   AVINASH                    GOOGLE        845123      225863  55875.5590
22     AYUSH                 MICROSOFT       2985623        2255   5855.5890
23    GAURAV                    SPACEX        645125     2555454   5553.5500
24      SHAN               BLUE ORIGIN       6525412      555252    255.5265

In [107]:
csv_2

      SYMBOL                  SECURITY  TOTAL-VOLUME  AVG.VOLUME      CHANGE
0       ARYA       ELELTROTHRM LIMITED  4.525550e+05      7894.0     50.5630
1       ANVI                     ISGEC  5.252000e+03      4658.0    542.6650
2      RAHUL                       GKW  5.256200e+04     56487.0    225.6600
3     DINESH                       IBM  2.362300e+04      5668.0     25.6500
4     MUKESH                      LINC  2.362300e+04      3256.0    225.5500
5      ARYAN                     HONDA  9.569560e+05     32665.0   5566.5600
6     MANISH                    HUNDAI  7.864530e+05    265523.0  52553.5500
7   ABHISHEK                    SUZUKI  8.465356e+06     26583.0  52285.5500
8      SUMAN                       BMW  5.629856e+06    559532.0   5288.5600
9        NaN                VOLKSWAGAN  7.645645e+06      9632.0         NaN
10    SUHANI                    MARUTI  9.865485e+07   2596235.0  25885.5880
11     ADITI                TATA MOTOR  8.956230e+05     65989.0   5548.5500
12   PRANCHI           SKM EGG PRODUCT  6.238960e+09    545255.0  55558.8000
13      RIYA        UNIPHOS ENTERPRISE  8.456456e+07    656555.0    558.5700
14   NATASHA                JAGSONPAL   5.623956e+06    986523.0    186.5500
15   ABHINAV        MANAGEMENT SERVICE           NaN    255651.0    558.5558
16    SAHBAJ         HINDCON CHEMICALS  8.556356e+06     52355.0     55.5850
17     ANKIT                     N.B.I  7.984653e+06    656582.0    558.5880
18     ROHAN                       NaN  4.514512e+06     68526.0  25256.5500
19   SARVESH  NAHAR POLY FILMS LIMITED  9.856200e+04      2285.0   5558.5950
20       NaN                       NaN           NaN         NaN         NaN
21   AVINASH                    GOOGLE  8.451230e+05    225863.0  55875.5590
22     AYUSH                 MICROSOFT  2.985623e+06      2255.0   5855.5890
23    GAURAV                    SPACEX  6.451250e+05   2555454.0   5553.5500
24      SHAN               BLUE ORIGIN  6.525412e+06    555252.0    255.5265

In [110]:
csv_2.dropna()  #remove full row where blank

      SYMBOL                  SECURITY  TOTAL-VOLUME  AVG.VOLUME      CHANGE
0       ARYA       ELELTROTHRM LIMITED  4.525550e+05      7894.0     50.5630
1       ANVI                     ISGEC  5.252000e+03      4658.0    542.6650
2      RAHUL                       GKW  5.256200e+04     56487.0    225.6600
3     DINESH                       IBM  2.362300e+04      5668.0     25.6500
4     MUKESH                      LINC  2.362300e+04      3256.0    225.5500
5      ARYAN                     HONDA  9.569560e+05     32665.0   5566.5600
6     MANISH                    HUNDAI  7.864530e+05    265523.0  52553.5500
7   ABHISHEK                    SUZUKI  8.465356e+06     26583.0  52285.5500
8      SUMAN                       BMW  5.629856e+06    559532.0   5288.5600
10    SUHANI                    MARUTI  9.865485e+07   2596235.0  25885.5880
11     ADITI                TATA MOTOR  8.956230e+05     65989.0   5548.5500
12   PRANCHI           SKM EGG PRODUCT  6.238960e+09    545255.0  55558.8000
13      RIYA        UNIPHOS ENTERPRISE  8.456456e+07    656555.0    558.5700
14   NATASHA                JAGSONPAL   5.623956e+06    986523.0    186.5500
16    SAHBAJ         HINDCON CHEMICALS  8.556356e+06     52355.0     55.5850
17     ANKIT                     N.B.I  7.984653e+06    656582.0    558.5880
19   SARVESH  NAHAR POLY FILMS LIMITED  9.856200e+04      2285.0   5558.5950
21   AVINASH                    GOOGLE  8.451230e+05    225863.0  55875.5590
22     AYUSH                 MICROSOFT  2.985623e+06      2255.0   5855.5890
23    GAURAV                    SPACEX  6.451250e+05   2555454.0   5553.5500
24      SHAN               BLUE ORIGIN  6.525412e+06    555252.0    255.5265

In [113]:
csv_2.dropna(axis=0)

      SYMBOL                  SECURITY  TOTAL-VOLUME  AVG.VOLUME      CHANGE
0       ARYA       ELELTROTHRM LIMITED  4.525550e+05      7894.0     50.5630
1       ANVI                     ISGEC  5.252000e+03      4658.0    542.6650
2      RAHUL                       GKW  5.256200e+04     56487.0    225.6600
3     DINESH                       IBM  2.362300e+04      5668.0     25.6500
4     MUKESH                      LINC  2.362300e+04      3256.0    225.5500
5      ARYAN                     HONDA  9.569560e+05     32665.0   5566.5600
6     MANISH                    HUNDAI  7.864530e+05    265523.0  52553.5500
7   ABHISHEK                    SUZUKI  8.465356e+06     26583.0  52285.5500
8      SUMAN                       BMW  5.629856e+06    559532.0   5288.5600
10    SUHANI                    MARUTI  9.865485e+07   2596235.0  25885.5880
11     ADITI                TATA MOTOR  8.956230e+05     65989.0   5548.5500
12   PRANCHI           SKM EGG PRODUCT  6.238960e+09    545255.0  55558.8000
13      RIYA        UNIPHOS ENTERPRISE  8.456456e+07    656555.0    558.5700
14   NATASHA                JAGSONPAL   5.623956e+06    986523.0    186.5500
16    SAHBAJ         HINDCON CHEMICALS  8.556356e+06     52355.0     55.5850
17     ANKIT                     N.B.I  7.984653e+06    656582.0    558.5880
19   SARVESH  NAHAR POLY FILMS LIMITED  9.856200e+04      2285.0   5558.5950
21   AVINASH                    GOOGLE  8.451230e+05    225863.0  55875.5590
22     AYUSH                 MICROSOFT  2.985623e+06      2255.0   5855.5890
23    GAURAV                    SPACEX  6.451250e+05   2555454.0   5553.5500
24      SHAN               BLUE ORIGIN  6.525412e+06    555252.0    255.5265

In [122]:
csv_3=pd.read_csv("D:\\Machine Learning\\Python Library\\test.csv")
csv_2.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

DROPNA & FILLNA

In [123]:
import pandas as pd
csv_4=pd.read_csv("D:\\Machine Learning\\Python Library\\test.csv")
csv_4

      SYMBOL                  SECURITY  TOTAL-VOLUME  AVG.VOLUME      CHANGE
0       ARYA       ELELTROTHRM LIMITED  4.525550e+05      7894.0     50.5630
1       ANVI                     ISGEC  5.252000e+03      4658.0    542.6650
2      RAHUL                       GKW  5.256200e+04     56487.0    225.6600
3     DINESH                       IBM  2.362300e+04      5668.0     25.6500
4     MUKESH                      LINC  2.362300e+04      3256.0    225.5500
5      ARYAN                     HONDA  9.569560e+05     32665.0   5566.5600
6     MANISH                    HUNDAI  7.864530e+05    265523.0  52553.5500
7   ABHISHEK                    SUZUKI  8.465356e+06     26583.0  52285.5500
8      SUMAN                       BMW  5.629856e+06    559532.0   5288.5600
9    AKANSHA                VOLKSWAGAN  7.645645e+06      9632.0         NaN
10    SUHANI                    MARUTI  9.865485e+07   2596235.0  25885.5880
11     ADITI                TATA MOTOR  8.956230e+05     65989.0   5548.5500
12   PRANCHI           SKM EGG PRODUCT  6.238960e+09    545255.0  55558.8000
13      RIYA        UNIPHOS ENTERPRISE  8.456456e+07    656555.0    558.5700
14   NATASHA                JAGSONPAL   5.623956e+06    986523.0    186.5500
15   ABHINAV        MANAGEMENT SERVICE           NaN    255651.0    558.5558
16    SAHBAJ         HINDCON CHEMICALS  8.556356e+06     52355.0     55.5850
17     ANKIT                     N.B.I  7.984653e+06    656582.0    558.5880
18     ROHAN                       NaN  4.514512e+06     68526.0  25256.5500
19   SARVESH  NAHAR POLY FILMS LIMITED  9.856200e+04      2285.0   5558.5950
20      AYAN          ALPHAGEO LIMITED           NaN         NaN         NaN
21   AVINASH                    GOOGLE  8.451230e+05    225863.0  55875.5590
22     AYUSH                 MICROSOFT  2.985623e+06      2255.0   5855.5890
23    GAURAV                    SPACEX  6.451250e+05   2555454.0   5553.5500
24      SHAN               BLUE ORIGIN  6.525412e+06    555252.0    255.5265

In [124]:
csv_4.dropna(how="any")

      SYMBOL                  SECURITY  TOTAL-VOLUME  AVG.VOLUME      CHANGE
0       ARYA       ELELTROTHRM LIMITED  4.525550e+05      7894.0     50.5630
1       ANVI                     ISGEC  5.252000e+03      4658.0    542.6650
2      RAHUL                       GKW  5.256200e+04     56487.0    225.6600
3     DINESH                       IBM  2.362300e+04      5668.0     25.6500
4     MUKESH                      LINC  2.362300e+04      3256.0    225.5500
5      ARYAN                     HONDA  9.569560e+05     32665.0   5566.5600
6     MANISH                    HUNDAI  7.864530e+05    265523.0  52553.5500
7   ABHISHEK                    SUZUKI  8.465356e+06     26583.0  52285.5500
8      SUMAN                       BMW  5.629856e+06    559532.0   5288.5600
10    SUHANI                    MARUTI  9.865485e+07   2596235.0  25885.5880
11     ADITI                TATA MOTOR  8.956230e+05     65989.0   5548.5500
12   PRANCHI           SKM EGG PRODUCT  6.238960e+09    545255.0  55558.8000
13      RIYA        UNIPHOS ENTERPRISE  8.456456e+07    656555.0    558.5700
14   NATASHA                JAGSONPAL   5.623956e+06    986523.0    186.5500
16    SAHBAJ         HINDCON CHEMICALS  8.556356e+06     52355.0     55.5850
17     ANKIT                     N.B.I  7.984653e+06    656582.0    558.5880
19   SARVESH  NAHAR POLY FILMS LIMITED  9.856200e+04      2285.0   5558.5950
21   AVINASH                    GOOGLE  8.451230e+05    225863.0  55875.5590
22     AYUSH                 MICROSOFT  2.985623e+06      2255.0   5855.5890
23    GAURAV                    SPACEX  6.451250e+05   2555454.0   5553.5500
24      SHAN               BLUE ORIGIN  6.525412e+06    555252.0    255.5265

In [125]:
csv_4.dropna(how="all")

      SYMBOL                  SECURITY  TOTAL-VOLUME  AVG.VOLUME      CHANGE
0       ARYA       ELELTROTHRM LIMITED  4.525550e+05      7894.0     50.5630
1       ANVI                     ISGEC  5.252000e+03      4658.0    542.6650
2      RAHUL                       GKW  5.256200e+04     56487.0    225.6600
3     DINESH                       IBM  2.362300e+04      5668.0     25.6500
4     MUKESH                      LINC  2.362300e+04      3256.0    225.5500
5      ARYAN                     HONDA  9.569560e+05     32665.0   5566.5600
6     MANISH                    HUNDAI  7.864530e+05    265523.0  52553.5500
7   ABHISHEK                    SUZUKI  8.465356e+06     26583.0  52285.5500
8      SUMAN                       BMW  5.629856e+06    559532.0   5288.5600
9    AKANSHA                VOLKSWAGAN  7.645645e+06      9632.0         NaN
10    SUHANI                    MARUTI  9.865485e+07   2596235.0  25885.5880
11     ADITI                TATA MOTOR  8.956230e+05     65989.0   5548.5500
12   PRANCHI           SKM EGG PRODUCT  6.238960e+09    545255.0  55558.8000
13      RIYA        UNIPHOS ENTERPRISE  8.456456e+07    656555.0    558.5700
14   NATASHA                JAGSONPAL   5.623956e+06    986523.0    186.5500
15   ABHINAV        MANAGEMENT SERVICE           NaN    255651.0    558.5558
16    SAHBAJ         HINDCON CHEMICALS  8.556356e+06     52355.0     55.5850
17     ANKIT                     N.B.I  7.984653e+06    656582.0    558.5880
18     ROHAN                       NaN  4.514512e+06     68526.0  25256.5500
19   SARVESH  NAHAR POLY FILMS LIMITED  9.856200e+04      2285.0   5558.5950
20      AYAN          ALPHAGEO LIMITED           NaN         NaN         NaN
21   AVINASH                    GOOGLE  8.451230e+05    225863.0  55875.5590
22     AYUSH                 MICROSOFT  2.985623e+06      2255.0   5855.5890
23    GAURAV                    SPACEX  6.451250e+05   2555454.0   5553.5500
24      SHAN               BLUE ORIGIN  6.525412e+06    555252.0    255.5265

In [126]:
csv_4.dropna(subset=["CHANGE"])

      SYMBOL                  SECURITY  TOTAL-VOLUME  AVG.VOLUME      CHANGE
0       ARYA       ELELTROTHRM LIMITED  4.525550e+05      7894.0     50.5630
1       ANVI                     ISGEC  5.252000e+03      4658.0    542.6650
2      RAHUL                       GKW  5.256200e+04     56487.0    225.6600
3     DINESH                       IBM  2.362300e+04      5668.0     25.6500
4     MUKESH                      LINC  2.362300e+04      3256.0    225.5500
5      ARYAN                     HONDA  9.569560e+05     32665.0   5566.5600
6     MANISH                    HUNDAI  7.864530e+05    265523.0  52553.5500
7   ABHISHEK                    SUZUKI  8.465356e+06     26583.0  52285.5500
8      SUMAN                       BMW  5.629856e+06    559532.0   5288.5600
10    SUHANI                    MARUTI  9.865485e+07   2596235.0  25885.5880
11     ADITI                TATA MOTOR  8.956230e+05     65989.0   5548.5500
12   PRANCHI           SKM EGG PRODUCT  6.238960e+09    545255.0  55558.8000
13      RIYA        UNIPHOS ENTERPRISE  8.456456e+07    656555.0    558.5700
14   NATASHA                JAGSONPAL   5.623956e+06    986523.0    186.5500
15   ABHINAV        MANAGEMENT SERVICE           NaN    255651.0    558.5558
16    SAHBAJ         HINDCON CHEMICALS  8.556356e+06     52355.0     55.5850
17     ANKIT                     N.B.I  7.984653e+06    656582.0    558.5880
18     ROHAN                       NaN  4.514512e+06     68526.0  25256.5500
19   SARVESH  NAHAR POLY FILMS LIMITED  9.856200e+04      2285.0   5558.5950
21   AVINASH                    GOOGLE  8.451230e+05    225863.0  55875.5590
22     AYUSH                 MICROSOFT  2.985623e+06      2255.0   5855.5890
23    GAURAV                    SPACEX  6.451250e+05   2555454.0   5553.5500
24      SHAN               BLUE ORIGIN  6.525412e+06    555252.0    255.5265

In [128]:
csv_4.dropna(inplace=True)
csv_4

      SYMBOL                  SECURITY  TOTAL-VOLUME  AVG.VOLUME      CHANGE
0       ARYA       ELELTROTHRM LIMITED  4.525550e+05      7894.0     50.5630
1       ANVI                     ISGEC  5.252000e+03      4658.0    542.6650
2      RAHUL                       GKW  5.256200e+04     56487.0    225.6600
3     DINESH                       IBM  2.362300e+04      5668.0     25.6500
4     MUKESH                      LINC  2.362300e+04      3256.0    225.5500
5      ARYAN                     HONDA  9.569560e+05     32665.0   5566.5600
6     MANISH                    HUNDAI  7.864530e+05    265523.0  52553.5500
7   ABHISHEK                    SUZUKI  8.465356e+06     26583.0  52285.5500
8      SUMAN                       BMW  5.629856e+06    559532.0   5288.5600
10    SUHANI                    MARUTI  9.865485e+07   2596235.0  25885.5880
11     ADITI                TATA MOTOR  8.956230e+05     65989.0   5548.5500
12   PRANCHI           SKM EGG PRODUCT  6.238960e+09    545255.0  55558.8000
13      RIYA        UNIPHOS ENTERPRISE  8.456456e+07    656555.0    558.5700
14   NATASHA                JAGSONPAL   5.623956e+06    986523.0    186.5500
16    SAHBAJ         HINDCON CHEMICALS  8.556356e+06     52355.0     55.5850
17     ANKIT                     N.B.I  7.984653e+06    656582.0    558.5880
19   SARVESH  NAHAR POLY FILMS LIMITED  9.856200e+04      2285.0   5558.5950
21   AVINASH                    GOOGLE  8.451230e+05    225863.0  55875.5590
22     AYUSH                 MICROSOFT  2.985623e+06      2255.0   5855.5890
23    GAURAV                    SPACEX  6.451250e+05   2555454.0   5553.5500
24      SHAN               BLUE ORIGIN  6.525412e+06    555252.0    255.5265

In [129]:
csv_4.dropna(thresh=1)

      SYMBOL                  SECURITY  TOTAL-VOLUME  AVG.VOLUME      CHANGE
0       ARYA       ELELTROTHRM LIMITED  4.525550e+05      7894.0     50.5630
1       ANVI                     ISGEC  5.252000e+03      4658.0    542.6650
2      RAHUL                       GKW  5.256200e+04     56487.0    225.6600
3     DINESH                       IBM  2.362300e+04      5668.0     25.6500
4     MUKESH                      LINC  2.362300e+04      3256.0    225.5500
5      ARYAN                     HONDA  9.569560e+05     32665.0   5566.5600
6     MANISH                    HUNDAI  7.864530e+05    265523.0  52553.5500
7   ABHISHEK                    SUZUKI  8.465356e+06     26583.0  52285.5500
8      SUMAN                       BMW  5.629856e+06    559532.0   5288.5600
10    SUHANI                    MARUTI  9.865485e+07   2596235.0  25885.5880
11     ADITI                TATA MOTOR  8.956230e+05     65989.0   5548.5500
12   PRANCHI           SKM EGG PRODUCT  6.238960e+09    545255.0  55558.8000
13      RIYA        UNIPHOS ENTERPRISE  8.456456e+07    656555.0    558.5700
14   NATASHA                JAGSONPAL   5.623956e+06    986523.0    186.5500
16    SAHBAJ         HINDCON CHEMICALS  8.556356e+06     52355.0     55.5850
17     ANKIT                     N.B.I  7.984653e+06    656582.0    558.5880
19   SARVESH  NAHAR POLY FILMS LIMITED  9.856200e+04      2285.0   5558.5950
21   AVINASH                    GOOGLE  8.451230e+05    225863.0  55875.5590
22     AYUSH                 MICROSOFT  2.985623e+06      2255.0   5855.5890
23    GAURAV                    SPACEX  6.451250e+05   2555454.0   5553.5500
24      SHAN               BLUE ORIGIN  6.525412e+06    555252.0    255.5265

In [142]:
var=pd.read_csv("D:\\Machine Learning\\Python Library\\test.csv")
var.fillna("Python")

      SYMBOL                  SECURITY  TOTAL-VOLUME AVG.VOLUME     CHANGE
0       ARYA       ELELTROTHRM LIMITED      452555.0     7894.0     50.563
1       ANVI                     ISGEC        5252.0     4658.0    542.665
2      RAHUL                       GKW       52562.0    56487.0     225.66
3     DINESH                       IBM       23623.0     5668.0      25.65
4     MUKESH                      LINC       23623.0     3256.0     225.55
5      ARYAN                     HONDA      956956.0    32665.0    5566.56
6     MANISH                    HUNDAI      786453.0   265523.0   52553.55
7   ABHISHEK                    SUZUKI     8465356.0    26583.0   52285.55
8      SUMAN                       BMW     5629856.0   559532.0    5288.56
9    AKANSHA                VOLKSWAGAN     7645645.0     9632.0     Python
10    SUHANI                    MARUTI    98654846.0  2596235.0  25885.588
11     ADITI                TATA MOTOR      895623.0    65989.0    5548.55
12   PRANCHI           SKM EGG PRODUCT  6238959856.0   545255.0    55558.8
13      RIYA        UNIPHOS ENTERPRISE    84564563.0   656555.0     558.57
14   NATASHA                JAGSONPAL      5623956.0   986523.0     186.55
15   ABHINAV        MANAGEMENT SERVICE        Python   255651.0   558.5558
16    SAHBAJ         HINDCON CHEMICALS     8556356.0    52355.0     55.585
17     ANKIT                     N.B.I     7984653.0   656582.0    558.588
18     ROHAN                    Python     4514512.0    68526.0   25256.55
19   SARVESH  NAHAR POLY FILMS LIMITED       98562.0     2285.0   5558.595
20    Python                    Python        Python     Python     Python
21   AVINASH                    GOOGLE      845123.0   225863.0  55875.559
22     AYUSH                 MICROSOFT     2985623.0     2255.0   5855.589
23    GAURAV                    SPACEX      645125.0  2555454.0    5553.55
24      SHAN               BLUE ORIGIN     6525412.0   555252.0   255.5265

In [136]:
var.fillna({"SYMBOL":"Python","TOTAL-VOLUME":"Java","SECURITY":"CPP"})

      SYMBOL                  SECURITY  TOTAL-VOLUME  AVG.VOLUME      CHANGE
0       ARYA       ELELTROTHRM LIMITED      452555.0      7894.0     50.5630
1       ANVI                     ISGEC        5252.0      4658.0    542.6650
2      RAHUL                       GKW       52562.0     56487.0    225.6600
3     DINESH                       IBM       23623.0      5668.0     25.6500
4     MUKESH                      LINC       23623.0      3256.0    225.5500
5      ARYAN                     HONDA      956956.0     32665.0   5566.5600
6     MANISH                    HUNDAI      786453.0    265523.0  52553.5500
7   ABHISHEK                    SUZUKI     8465356.0     26583.0  52285.5500
8      SUMAN                       BMW     5629856.0    559532.0   5288.5600
9    AKANSHA                VOLKSWAGAN     7645645.0      9632.0         NaN
10    SUHANI                    MARUTI    98654846.0   2596235.0  25885.5880
11     ADITI                TATA MOTOR      895623.0     65989.0   5548.5500
12   PRANCHI           SKM EGG PRODUCT  6238959856.0    545255.0  55558.8000
13      RIYA        UNIPHOS ENTERPRISE    84564563.0    656555.0    558.5700
14   NATASHA                JAGSONPAL      5623956.0    986523.0    186.5500
15   ABHINAV        MANAGEMENT SERVICE          Java    255651.0    558.5558
16    SAHBAJ         HINDCON CHEMICALS     8556356.0     52355.0     55.5850
17     ANKIT                     N.B.I     7984653.0    656582.0    558.5880
18     ROHAN                       CPP     4514512.0     68526.0  25256.5500
19   SARVESH  NAHAR POLY FILMS LIMITED       98562.0      2285.0   5558.5950
20      AYAN          ALPHAGEO LIMITED          Java         NaN         NaN
21   AVINASH                    GOOGLE      845123.0    225863.0  55875.5590
22     AYUSH                 MICROSOFT     2985623.0      2255.0   5855.5890
23    GAURAV                    SPACEX      645125.0   2555454.0   5553.5500
24      SHAN               BLUE ORIGIN     6525412.0    555252.0    255.5265

In [143]:
var.fillna(method="ffill")

C:\Users\Dinesh kumar yadav\AppData\Local\Temp\ipykernel_27224\3062787689.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  var.fillna(method="ffill")

      SYMBOL                  SECURITY  TOTAL-VOLUME  AVG.VOLUME      CHANGE
0       ARYA       ELELTROTHRM LIMITED  4.525550e+05      7894.0     50.5630
1       ANVI                     ISGEC  5.252000e+03      4658.0    542.6650
2      RAHUL                       GKW  5.256200e+04     56487.0    225.6600
3     DINESH                       IBM  2.362300e+04      5668.0     25.6500
4     MUKESH                      LINC  2.362300e+04      3256.0    225.5500
5      ARYAN                     HONDA  9.569560e+05     32665.0   5566.5600
6     MANISH                    HUNDAI  7.864530e+05    265523.0  52553.5500
7   ABHISHEK                    SUZUKI  8.465356e+06     26583.0  52285.5500
8      SUMAN                       BMW  5.629856e+06    559532.0   5288.5600
9    AKANSHA                VOLKSWAGAN  7.645645e+06      9632.0   5288.5600
10    SUHANI                    MARUTI  9.865485e+07   2596235.0  25885.5880
11     ADITI                TATA MOTOR  8.956230e+05     65989.0   5548.5500
12   PRANCHI           SKM EGG PRODUCT  6.238960e+09    545255.0  55558.8000
13      RIYA        UNIPHOS ENTERPRISE  8.456456e+07    656555.0    558.5700
14   NATASHA                JAGSONPAL   5.623956e+06    986523.0    186.5500
15   ABHINAV        MANAGEMENT SERVICE  5.623956e+06    255651.0    558.5558
16    SAHBAJ         HINDCON CHEMICALS  8.556356e+06     52355.0     55.5850
17     ANKIT                     N.B.I  7.984653e+06    656582.0    558.5880
18     ROHAN                     N.B.I  4.514512e+06     68526.0  25256.5500
19   SARVESH  NAHAR POLY FILMS LIMITED  9.856200e+04      2285.0   5558.5950
20   SARVESH  NAHAR POLY FILMS LIMITED  9.856200e+04      2285.0   5558.5950
21   AVINASH                    GOOGLE  8.451230e+05    225863.0  55875.5590
22     AYUSH                 MICROSOFT  2.985623e+06      2255.0   5855.5890
23    GAURAV                    SPACEX  6.451250e+05   2555454.0   5553.5500
24      SHAN               BLUE ORIGIN  6.525412e+06    555252.0    255.5265

In [144]:
var.fillna(method="bfill")

C:\Users\Dinesh kumar yadav\AppData\Local\Temp\ipykernel_27224\119153051.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  var.fillna(method="bfill")

      SYMBOL                  SECURITY  TOTAL-VOLUME  AVG.VOLUME      CHANGE
0       ARYA       ELELTROTHRM LIMITED  4.525550e+05      7894.0     50.5630
1       ANVI                     ISGEC  5.252000e+03      4658.0    542.6650
2      RAHUL                       GKW  5.256200e+04     56487.0    225.6600
3     DINESH                       IBM  2.362300e+04      5668.0     25.6500
4     MUKESH                      LINC  2.362300e+04      3256.0    225.5500
5      ARYAN                     HONDA  9.569560e+05     32665.0   5566.5600
6     MANISH                    HUNDAI  7.864530e+05    265523.0  52553.5500
7   ABHISHEK                    SUZUKI  8.465356e+06     26583.0  52285.5500
8      SUMAN                       BMW  5.629856e+06    559532.0   5288.5600
9    AKANSHA                VOLKSWAGAN  7.645645e+06      9632.0  25885.5880
10    SUHANI                    MARUTI  9.865485e+07   2596235.0  25885.5880
11     ADITI                TATA MOTOR  8.956230e+05     65989.0   5548.5500
12   PRANCHI           SKM EGG PRODUCT  6.238960e+09    545255.0  55558.8000
13      RIYA        UNIPHOS ENTERPRISE  8.456456e+07    656555.0    558.5700
14   NATASHA                JAGSONPAL   5.623956e+06    986523.0    186.5500
15   ABHINAV        MANAGEMENT SERVICE  8.556356e+06    255651.0    558.5558
16    SAHBAJ         HINDCON CHEMICALS  8.556356e+06     52355.0     55.5850
17     ANKIT                     N.B.I  7.984653e+06    656582.0    558.5880
18     ROHAN  NAHAR POLY FILMS LIMITED  4.514512e+06     68526.0  25256.5500
19   SARVESH  NAHAR POLY FILMS LIMITED  9.856200e+04      2285.0   5558.5950
20   AVINASH                    GOOGLE  8.451230e+05    225863.0  55875.5590
21   AVINASH                    GOOGLE  8.451230e+05    225863.0  55875.5590
22     AYUSH                 MICROSOFT  2.985623e+06      2255.0   5855.5890
23    GAURAV                    SPACEX  6.451250e+05   2555454.0   5553.5500
24      SHAN               BLUE ORIGIN  6.525412e+06    555252.0    255.5265

In [146]:
var.fillna(method="bfill",axis=1)

C:\Users\Dinesh kumar yadav\AppData\Local\Temp\ipykernel_27224\249782568.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  var.fillna(method="bfill",axis=1)
C:\Users\Dinesh kumar yadav\AppData\Local\Temp\ipykernel_27224\249782568.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  var.fillna(method="bfill",axis=1)

      SYMBOL                  SECURITY  TOTAL-VOLUME AVG.VOLUME     CHANGE
0       ARYA       ELELTROTHRM LIMITED      452555.0     7894.0     50.563
1       ANVI                     ISGEC        5252.0     4658.0    542.665
2      RAHUL                       GKW       52562.0    56487.0     225.66
3     DINESH                       IBM       23623.0     5668.0      25.65
4     MUKESH                      LINC       23623.0     3256.0     225.55
5      ARYAN                     HONDA      956956.0    32665.0    5566.56
6     MANISH                    HUNDAI      786453.0   265523.0   52553.55
7   ABHISHEK                    SUZUKI     8465356.0    26583.0   52285.55
8      SUMAN                       BMW     5629856.0   559532.0    5288.56
9    AKANSHA                VOLKSWAGAN     7645645.0     9632.0        NaN
10    SUHANI                    MARUTI    98654846.0  2596235.0  25885.588
11     ADITI                TATA MOTOR      895623.0    65989.0    5548.55
12   PRANCHI           SKM EGG PRODUCT  6238959856.0   545255.0    55558.8
13      RIYA        UNIPHOS ENTERPRISE    84564563.0   656555.0     558.57
14   NATASHA                JAGSONPAL      5623956.0   986523.0     186.55
15   ABHINAV        MANAGEMENT SERVICE      255651.0   255651.0   558.5558
16    SAHBAJ         HINDCON CHEMICALS     8556356.0    52355.0     55.585
17     ANKIT                     N.B.I     7984653.0   656582.0    558.588
18     ROHAN                 4514512.0     4514512.0    68526.0   25256.55
19   SARVESH  NAHAR POLY FILMS LIMITED       98562.0     2285.0   5558.595
20       NaN                       NaN           NaN        NaN        NaN
21   AVINASH                    GOOGLE      845123.0   225863.0  55875.559
22     AYUSH                 MICROSOFT     2985623.0     2255.0   5855.589
23    GAURAV                    SPACEX      645125.0  2555454.0    5553.55
24      SHAN               BLUE ORIGIN     6525412.0   555252.0   255.5265

In [147]:
var.fillna(method="bfill",axis=0)

C:\Users\Dinesh kumar yadav\AppData\Local\Temp\ipykernel_27224\15254990.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  var.fillna(method="bfill",axis=0)

      SYMBOL                  SECURITY  TOTAL-VOLUME  AVG.VOLUME      CHANGE
0       ARYA       ELELTROTHRM LIMITED  4.525550e+05      7894.0     50.5630
1       ANVI                     ISGEC  5.252000e+03      4658.0    542.6650
2      RAHUL                       GKW  5.256200e+04     56487.0    225.6600
3     DINESH                       IBM  2.362300e+04      5668.0     25.6500
4     MUKESH                      LINC  2.362300e+04      3256.0    225.5500
5      ARYAN                     HONDA  9.569560e+05     32665.0   5566.5600
6     MANISH                    HUNDAI  7.864530e+05    265523.0  52553.5500
7   ABHISHEK                    SUZUKI  8.465356e+06     26583.0  52285.5500
8      SUMAN                       BMW  5.629856e+06    559532.0   5288.5600
9    AKANSHA                VOLKSWAGAN  7.645645e+06      9632.0  25885.5880
10    SUHANI                    MARUTI  9.865485e+07   2596235.0  25885.5880
11     ADITI                TATA MOTOR  8.956230e+05     65989.0   5548.5500
12   PRANCHI           SKM EGG PRODUCT  6.238960e+09    545255.0  55558.8000
13      RIYA        UNIPHOS ENTERPRISE  8.456456e+07    656555.0    558.5700
14   NATASHA                JAGSONPAL   5.623956e+06    986523.0    186.5500
15   ABHINAV        MANAGEMENT SERVICE  8.556356e+06    255651.0    558.5558
16    SAHBAJ         HINDCON CHEMICALS  8.556356e+06     52355.0     55.5850
17     ANKIT                     N.B.I  7.984653e+06    656582.0    558.5880
18     ROHAN  NAHAR POLY FILMS LIMITED  4.514512e+06     68526.0  25256.5500
19   SARVESH  NAHAR POLY FILMS LIMITED  9.856200e+04      2285.0   5558.5950
20   AVINASH                    GOOGLE  8.451230e+05    225863.0  55875.5590
21   AVINASH                    GOOGLE  8.451230e+05    225863.0  55875.5590
22     AYUSH                 MICROSOFT  2.985623e+06      2255.0   5855.5890
23    GAURAV                    SPACEX  6.451250e+05   2555454.0   5553.5500
24      SHAN               BLUE ORIGIN  6.525412e+06    555252.0    255.5265

In [148]:
var.fillna(12,inplace=True)
var

      SYMBOL                  SECURITY  TOTAL-VOLUME  AVG.VOLUME      CHANGE
0       ARYA       ELELTROTHRM LIMITED  4.525550e+05      7894.0     50.5630
1       ANVI                     ISGEC  5.252000e+03      4658.0    542.6650
2      RAHUL                       GKW  5.256200e+04     56487.0    225.6600
3     DINESH                       IBM  2.362300e+04      5668.0     25.6500
4     MUKESH                      LINC  2.362300e+04      3256.0    225.5500
5      ARYAN                     HONDA  9.569560e+05     32665.0   5566.5600
6     MANISH                    HUNDAI  7.864530e+05    265523.0  52553.5500
7   ABHISHEK                    SUZUKI  8.465356e+06     26583.0  52285.5500
8      SUMAN                       BMW  5.629856e+06    559532.0   5288.5600
9    AKANSHA                VOLKSWAGAN  7.645645e+06      9632.0     12.0000
10    SUHANI                    MARUTI  9.865485e+07   2596235.0  25885.5880
11     ADITI                TATA MOTOR  8.956230e+05     65989.0   5548.5500
12   PRANCHI           SKM EGG PRODUCT  6.238960e+09    545255.0  55558.8000
13      RIYA        UNIPHOS ENTERPRISE  8.456456e+07    656555.0    558.5700
14   NATASHA                JAGSONPAL   5.623956e+06    986523.0    186.5500
15   ABHINAV        MANAGEMENT SERVICE  1.200000e+01    255651.0    558.5558
16    SAHBAJ         HINDCON CHEMICALS  8.556356e+06     52355.0     55.5850
17     ANKIT                     N.B.I  7.984653e+06    656582.0    558.5880
18     ROHAN                        12  4.514512e+06     68526.0  25256.5500
19   SARVESH  NAHAR POLY FILMS LIMITED  9.856200e+04      2285.0   5558.5950
20        12                        12  1.200000e+01        12.0     12.0000
21   AVINASH                    GOOGLE  8.451230e+05    225863.0  55875.5590
22     AYUSH                 MICROSOFT  2.985623e+06      2255.0   5855.5890
23    GAURAV                    SPACEX  6.451250e+05   2555454.0   5553.5500
24      SHAN               BLUE ORIGIN  6.525412e+06    555252.0    255.5265

In [152]:
var=pd.read_csv("D:\\Machine Learning\\Python Library\\test.csv")
var.fillna("Python",limit=1)

      SYMBOL                  SECURITY  TOTAL-VOLUME AVG.VOLUME     CHANGE
0       ARYA       ELELTROTHRM LIMITED      452555.0     7894.0     50.563
1       ANVI                     ISGEC        5252.0     4658.0    542.665
2      RAHUL                       GKW       52562.0    56487.0     225.66
3     DINESH                       IBM       23623.0     5668.0      25.65
4     MUKESH                      LINC       23623.0     3256.0     225.55
5      ARYAN                     HONDA      956956.0    32665.0    5566.56
6     MANISH                    HUNDAI      786453.0   265523.0   52553.55
7   ABHISHEK                    SUZUKI     8465356.0    26583.0   52285.55
8      SUMAN                       BMW     5629856.0   559532.0    5288.56
9    AKANSHA                VOLKSWAGAN     7645645.0     9632.0     Python
10    SUHANI                    MARUTI    98654846.0  2596235.0  25885.588
11     ADITI                TATA MOTOR      895623.0    65989.0    5548.55
12   PRANCHI           SKM EGG PRODUCT  6238959856.0   545255.0    55558.8
13      RIYA        UNIPHOS ENTERPRISE    84564563.0   656555.0     558.57
14   NATASHA                JAGSONPAL      5623956.0   986523.0     186.55
15   ABHINAV        MANAGEMENT SERVICE        Python   255651.0   558.5558
16    SAHBAJ         HINDCON CHEMICALS     8556356.0    52355.0     55.585
17     ANKIT                     N.B.I     7984653.0   656582.0    558.588
18     ROHAN                    Python     4514512.0    68526.0   25256.55
19   SARVESH  NAHAR POLY FILMS LIMITED       98562.0     2285.0   5558.595
20    Python                       NaN           NaN     Python        NaN
21   AVINASH                    GOOGLE      845123.0   225863.0  55875.559
22     AYUSH                 MICROSOFT     2985623.0     2255.0   5855.589
23    GAURAV                    SPACEX      645125.0  2555454.0    5553.55
24      SHAN               BLUE ORIGIN     6525412.0   555252.0   255.5265

REPLACE

In [153]:
import pandas as pd
var=pd.read_csv("D:\\Machine Learning\\Python Library\\test.csv")
var

      SYMBOL                  SECURITY  TOTAL-VOLUME  AVG.VOLUME      CHANGE
0       ARYA       ELELTROTHRM LIMITED  4.525550e+05      7894.0     50.5630
1       ANVI                     ISGEC  5.252000e+03      4658.0    542.6650
2      RAHUL                       GKW  5.256200e+04     56487.0    225.6600
3     DINESH                       IBM  2.362300e+04      5668.0     25.6500
4     MUKESH                      LINC  2.362300e+04      3256.0    225.5500
5      ARYAN                     HONDA  9.569560e+05     32665.0   5566.5600
6     MANISH                    HUNDAI  7.864530e+05    265523.0  52553.5500
7   ABHISHEK                    SUZUKI  8.465356e+06     26583.0  52285.5500
8      SUMAN                       BMW  5.629856e+06    559532.0   5288.5600
9    AKANSHA                VOLKSWAGAN  7.645645e+06      9632.0         NaN
10    SUHANI                    MARUTI  9.865485e+07   2596235.0  25885.5880
11     ADITI                TATA MOTOR  8.956230e+05     65989.0   5548.5500
12   PRANCHI           SKM EGG PRODUCT  6.238960e+09    545255.0  55558.8000
13      RIYA        UNIPHOS ENTERPRISE  8.456456e+07    656555.0    558.5700
14   NATASHA                JAGSONPAL   5.623956e+06    986523.0    186.5500
15   ABHINAV        MANAGEMENT SERVICE           NaN    255651.0    558.5558
16    SAHBAJ         HINDCON CHEMICALS  8.556356e+06     52355.0     55.5850
17     ANKIT                     N.B.I  7.984653e+06    656582.0    558.5880
18     ROHAN                       NaN  4.514512e+06     68526.0  25256.5500
19   SARVESH  NAHAR POLY FILMS LIMITED  9.856200e+04      2285.0   5558.5950
20       NaN                       NaN           NaN         NaN         NaN
21   AVINASH                    GOOGLE  8.451230e+05    225863.0  55875.5590
22     AYUSH                 MICROSOFT  2.985623e+06      2255.0   5855.5890
23    GAURAV                    SPACEX  6.451250e+05   2555454.0   5553.5500
24      SHAN               BLUE ORIGIN  6.525412e+06    555252.0    255.5265

In [155]:
var.replace(to_replace=7894,value=22)

      SYMBOL                  SECURITY  TOTAL-VOLUME  AVG.VOLUME      CHANGE
0       ARYA       ELELTROTHRM LIMITED  4.525550e+05        22.0     50.5630
1       ANVI                     ISGEC  5.252000e+03      4658.0    542.6650
2      RAHUL                       GKW  5.256200e+04     56487.0    225.6600
3     DINESH                       IBM  2.362300e+04      5668.0     25.6500
4     MUKESH                      LINC  2.362300e+04      3256.0    225.5500
5      ARYAN                     HONDA  9.569560e+05     32665.0   5566.5600
6     MANISH                    HUNDAI  7.864530e+05    265523.0  52553.5500
7   ABHISHEK                    SUZUKI  8.465356e+06     26583.0  52285.5500
8      SUMAN                       BMW  5.629856e+06    559532.0   5288.5600
9    AKANSHA                VOLKSWAGAN  7.645645e+06      9632.0         NaN
10    SUHANI                    MARUTI  9.865485e+07   2596235.0  25885.5880
11     ADITI                TATA MOTOR  8.956230e+05     65989.0   5548.5500
12   PRANCHI           SKM EGG PRODUCT  6.238960e+09    545255.0  55558.8000
13      RIYA        UNIPHOS ENTERPRISE  8.456456e+07    656555.0    558.5700
14   NATASHA                JAGSONPAL   5.623956e+06    986523.0    186.5500
15   ABHINAV        MANAGEMENT SERVICE           NaN    255651.0    558.5558
16    SAHBAJ         HINDCON CHEMICALS  8.556356e+06     52355.0     55.5850
17     ANKIT                     N.B.I  7.984653e+06    656582.0    558.5880
18     ROHAN                       NaN  4.514512e+06     68526.0  25256.5500
19   SARVESH  NAHAR POLY FILMS LIMITED  9.856200e+04      2285.0   5558.5950
20       NaN                       NaN           NaN         NaN         NaN
21   AVINASH                    GOOGLE  8.451230e+05    225863.0  55875.5590
22     AYUSH                 MICROSOFT  2.985623e+06      2255.0   5855.5890
23    GAURAV                    SPACEX  6.451250e+05   2555454.0   5553.5500
24      SHAN               BLUE ORIGIN  6.525412e+06    555252.0    255.5265

In [156]:
var.replace(to_replace="MUKESH",value="Anup")

      SYMBOL                  SECURITY  TOTAL-VOLUME  AVG.VOLUME      CHANGE
0       ARYA       ELELTROTHRM LIMITED  4.525550e+05      7894.0     50.5630
1       ANVI                     ISGEC  5.252000e+03      4658.0    542.6650
2      RAHUL                       GKW  5.256200e+04     56487.0    225.6600
3     DINESH                       IBM  2.362300e+04      5668.0     25.6500
4       Anup                      LINC  2.362300e+04      3256.0    225.5500
5      ARYAN                     HONDA  9.569560e+05     32665.0   5566.5600
6     MANISH                    HUNDAI  7.864530e+05    265523.0  52553.5500
7   ABHISHEK                    SUZUKI  8.465356e+06     26583.0  52285.5500
8      SUMAN                       BMW  5.629856e+06    559532.0   5288.5600
9    AKANSHA                VOLKSWAGAN  7.645645e+06      9632.0         NaN
10    SUHANI                    MARUTI  9.865485e+07   2596235.0  25885.5880
11     ADITI                TATA MOTOR  8.956230e+05     65989.0   5548.5500
12   PRANCHI           SKM EGG PRODUCT  6.238960e+09    545255.0  55558.8000
13      RIYA        UNIPHOS ENTERPRISE  8.456456e+07    656555.0    558.5700
14   NATASHA                JAGSONPAL   5.623956e+06    986523.0    186.5500
15   ABHINAV        MANAGEMENT SERVICE           NaN    255651.0    558.5558
16    SAHBAJ         HINDCON CHEMICALS  8.556356e+06     52355.0     55.5850
17     ANKIT                     N.B.I  7.984653e+06    656582.0    558.5880
18     ROHAN                       NaN  4.514512e+06     68526.0  25256.5500
19   SARVESH  NAHAR POLY FILMS LIMITED  9.856200e+04      2285.0   5558.5950
20       NaN                       NaN           NaN         NaN         NaN
21   AVINASH                    GOOGLE  8.451230e+05    225863.0  55875.5590
22     AYUSH                 MICROSOFT  2.985623e+06      2255.0   5855.5890
23    GAURAV                    SPACEX  6.451250e+05   2555454.0   5553.5500
24      SHAN               BLUE ORIGIN  6.525412e+06    555252.0    255.5265

In [157]:
var=pd.read_csv("D:\\Machine Learning\\Python Library\\test.csv")
var.replace([1,2,3,4,5,6,78],45)

,Unnamed: 0,SYMBOL,SECURITY,TOTAL-VOLUME,AVG.VOLUME,CHANGE
0,0,ARYA,ELELTROTHRM LIMITED,4.525550e+05,7894.0,50.5630
1,45,ANVI,ISGEC,5.252000e+03,4658.0,542.6650
2,45,RAHUL,GKW,5.256200e+04,56487.0,225.6600
3,45,DINESH,IBM,2.362300e+04,5668.0,25.6500
4,45,MUKESH,LINC,2.362300e+04,3256.0,225.5500
5,45,ARYAN,HONDA,9.569560e+05,32665.0,5566.5600
6,45,MANISH,HUNDAI,7.864530e+05,265523.0,52553.5500
7,7,ABHISHEK,SUZUKI,8.465356e+06,26583.0,52285.5500
8,8,SUMAN,BMW,5.629856e+06,559532.0,5288.5600
9,9,AKANSHA,VOLKSWAGAN,7.645645e+06,9632.0,NaN
10,10,SUHANI,MARUTI,9.865485e+07,2596235.0,25885.5880
11,11,ADITI,TATA MOTOR,8.956230e+05,65989.0,5548.5500
12,12,PRANCHI,SKM EGG PRODUCT,6.238960e+09,545255.0,55558.8000
13,13,RIYA,UNIPHOS ENTERPRISE,8.456456e+07,656555.0,558.5700
14,14,NATASHA,JAGSONPAL,5.623956e+06,986523.0,186.5500
15,15,ABHINAV,MANAGEMENT SERVICE,NaN,255651.0,558.5558
16,16,SAHBAJ,HINDCON CHEMICALS,8.556356e+06,52355.0,55.5850
17,17,ANKIT,N.B.I,7.984653e+06,656582.0,558.5880
18,18,ROHAN,NaN,4.514512e+06,68526.0,25256.5500
19,19,SARVESH,NAHAR POLY FILMS LIMITED,9.856200e+04,2285.0,5558.5950
20,20,NaN,NaN,NaN,NaN,NaN
21,21,AVINASH,GOOGLE,8.451230e+05,225863.0,55875.5590
22,22,AYUSH,MICROSOFT,2.985623e+06,2255.0,5855.5890
23,23,GAURAV,SPACEX,6.451250e+05,2555454.0,5553.5500
24,24,SHAN,BLUE ORIGIN,6.525412e+06,555252.0,255.5265

In [161]:
var.replace("[A-Za-z]","C",regex=True)

,Unnamed: 0,SYMBOL,SECURITY,TOTAL-VOLUME,AVG.VOLUME,CHANGE
0,0,CCCC,CCCCCCCCCCC CCCCCCC,4.525550e+05,7894.0,50.5630
1,1,CCCC,CCCCC,5.252000e+03,4658.0,542.6650
2,2,CCCCC,CCC,5.256200e+04,56487.0,225.6600
3,3,CCCCCC,CCC,2.362300e+04,5668.0,25.6500
4,4,CCCCCC,CCCC,2.362300e+04,3256.0,225.5500
5,5,CCCCC,CCCCC,9.569560e+05,32665.0,5566.5600
6,6,CCCCCC,CCCCCC,7.864530e+05,265523.0,52553.5500
7,7,CCCCCCCC,CCCCCC,8.465356e+06,26583.0,52285.5500
8,8,CCCCC,CCC,5.629856e+06,559532.0,5288.5600
9,9,CCCCCCC,CCCCCCCCCC,7.645645e+06,9632.0,NaN
10,10,CCCCCC,CCCCCC,9.865485e+07,2596235.0,25885.5880
11,11,CCCCC,CCCC CCCCC,8.956230e+05,65989.0,5548.5500
12,12,CCCCCCC,CCC CCC CCCCCCC,6.238960e+09,545255.0,55558.8000
13,13,CCCC,CCCCCCC CCCCCCCCCC,8.456456e+07,656555.0,558.5700
14,14,CCCCCCC,CCCCCCCCC,5.623956e+06,986523.0,186.5500
15,15,CCCCCCC,CCCCCCCCCC CCCCCCC,NaN,255651.0,558.5558
16,16,CCCCCC,CCCCCCC CCCCCCCCC,8.556356e+06,52355.0,55.5850
17,17,CCCCC,C.C.C,7.984653e+06,656582.0,558.5880
18,18,CCCCC,NaN,4.514512e+06,68526.0,25256.5500
19,19,CCCCCCC,CCCCC CCCC CCCCC CCCCCCC,9.856200e+04,2285.0,5558.5950
20,20,NaN,NaN,NaN,NaN,NaN
21,21,CCCCCCC,CCCCCC,8.451230e+05,225863.0,55875.5590
22,22,CCCCC,CCCCCCCCC,2.985623e+06,2255.0,5855.5890
23,23,CCCCCC,CCCCCC,6.451250e+05,2555454.0,5553.5500
24,24,CCCC,CCCC CCCCCC,6.525412e+06,555252.0,255.5265

In [162]:
var.replace("[A-Z]","P",regex=True)

,Unnamed: 0,SYMBOL,SECURITY,TOTAL-VOLUME,AVG.VOLUME,CHANGE
0,0,PPPP,PPPPPPPPPPP PPPPPPP,4.525550e+05,7894.0,50.5630
1,1,PPPP,PPPPP,5.252000e+03,4658.0,542.6650
2,2,PPPPP,PPP,5.256200e+04,56487.0,225.6600
3,3,PPPPPP,PPP,2.362300e+04,5668.0,25.6500
4,4,PPPPPP,PPPP,2.362300e+04,3256.0,225.5500
5,5,PPPPP,PPPPP,9.569560e+05,32665.0,5566.5600
6,6,PPPPPP,PPPPPP,7.864530e+05,265523.0,52553.5500
7,7,PPPPPPPP,PPPPPP,8.465356e+06,26583.0,52285.5500
8,8,PPPPP,PPP,5.629856e+06,559532.0,5288.5600
9,9,PPPPPPP,PPPPPPPPPP,7.645645e+06,9632.0,NaN
10,10,PPPPPP,PPPPPP,9.865485e+07,2596235.0,25885.5880
11,11,PPPPP,PPPP PPPPP,8.956230e+05,65989.0,5548.5500
12,12,PPPPPPP,PPP PPP PPPPPPP,6.238960e+09,545255.0,55558.8000
13,13,PPPP,PPPPPPP PPPPPPPPPP,8.456456e+07,656555.0,558.5700
14,14,PPPPPPP,PPPPPPPPP,5.623956e+06,986523.0,186.5500
15,15,PPPPPPP,PPPPPPPPPP PPPPPPP,NaN,255651.0,558.5558
16,16,PPPPPP,PPPPPPP PPPPPPPPP,8.556356e+06,52355.0,55.5850
17,17,PPPPP,P.P.P,7.984653e+06,656582.0,558.5880
18,18,PPPPP,NaN,4.514512e+06,68526.0,25256.5500
19,19,PPPPPPP,PPPPP PPPP PPPPP PPPPPPP,9.856200e+04,2285.0,5558.5950
20,20,NaN,NaN,NaN,NaN,NaN
21,21,PPPPPPP,PPPPPP,8.451230e+05,225863.0,55875.5590
22,22,PPPPP,PPPPPPPPP,2.985623e+06,2255.0,5855.5890
23,23,PPPPPP,PPPPPP,6.451250e+05,2555454.0,5553.5500
24,24,PPPP,PPPP PPPPPP,6.525412e+06,555252.0,255.5265

In [164]:
var.replace({"SYMBOL":"[A-Z]"},45,regex=True)

C:\Users\Dinesh kumar yadav\AppData\Local\Temp\ipykernel_27224\2733756003.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  var.replace({"SYMBOL":"[A-Z]"},45,regex=True)

,Unnamed: 0,SYMBOL,SECURITY,TOTAL-VOLUME,AVG.VOLUME,CHANGE
0,0,45.0,ELELTROTHRM LIMITED,4.525550e+05,7894.0,50.5630
1,1,45.0,ISGEC,5.252000e+03,4658.0,542.6650
2,2,45.0,GKW,5.256200e+04,56487.0,225.6600
3,3,45.0,IBM,2.362300e+04,5668.0,25.6500
4,4,45.0,LINC,2.362300e+04,3256.0,225.5500
5,5,45.0,HONDA,9.569560e+05,32665.0,5566.5600
6,6,45.0,HUNDAI,7.864530e+05,265523.0,52553.5500
7,7,45.0,SUZUKI,8.465356e+06,26583.0,52285.5500
8,8,45.0,BMW,5.629856e+06,559532.0,5288.5600
9,9,45.0,VOLKSWAGAN,7.645645e+06,9632.0,NaN
10,10,45.0,MARUTI,9.865485e+07,2596235.0,25885.5880
11,11,45.0,TATA MOTOR,8.956230e+05,65989.0,5548.5500
12,12,45.0,SKM EGG PRODUCT,6.238960e+09,545255.0,55558.8000
13,13,45.0,UNIPHOS ENTERPRISE,8.456456e+07,656555.0,558.5700
14,14,45.0,JAGSONPAL,5.623956e+06,986523.0,186.5500
15,15,45.0,MANAGEMENT SERVICE,NaN,255651.0,558.5558
16,16,45.0,HINDCON CHEMICALS,8.556356e+06,52355.0,55.5850
17,17,45.0,N.B.I,7.984653e+06,656582.0,558.5880
18,18,45.0,NaN,4.514512e+06,68526.0,25256.5500
19,19,45.0,NAHAR POLY FILMS LIMITED,9.856200e+04,2285.0,5558.5950
20,20,NaN,NaN,NaN,NaN,NaN
21,21,45.0,GOOGLE,8.451230e+05,225863.0,55875.5590
22,22,45.0,MICROSOFT,2.985623e+06,2255.0,5855.5890
23,23,45.0,SPACEX,6.451250e+05,2555454.0,5553.5500
24,24,45.0,BLUE ORIGIN,6.525412e+06,555252.0,255.5265

In [166]:
var.replace(4658,method="ffill")

C:\Users\Dinesh kumar yadav\AppData\Local\Temp\ipykernel_27224\153372158.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  var.replace(4658,method="ffill")

,Unnamed: 0,SYMBOL,SECURITY,TOTAL-VOLUME,AVG.VOLUME,CHANGE
0,0,ARYA,ELELTROTHRM LIMITED,4.525550e+05,7894.0,50.5630
1,1,ANVI,ISGEC,5.252000e+03,7894.0,542.6650
2,2,RAHUL,GKW,5.256200e+04,56487.0,225.6600
3,3,DINESH,IBM,2.362300e+04,5668.0,25.6500
4,4,MUKESH,LINC,2.362300e+04,3256.0,225.5500
5,5,ARYAN,HONDA,9.569560e+05,32665.0,5566.5600
6,6,MANISH,HUNDAI,7.864530e+05,265523.0,52553.5500
7,7,ABHISHEK,SUZUKI,8.465356e+06,26583.0,52285.5500
8,8,SUMAN,BMW,5.629856e+06,559532.0,5288.5600
9,9,AKANSHA,VOLKSWAGAN,7.645645e+06,9632.0,NaN
10,10,SUHANI,MARUTI,9.865485e+07,2596235.0,25885.5880
11,11,ADITI,TATA MOTOR,8.956230e+05,65989.0,5548.5500
12,12,PRANCHI,SKM EGG PRODUCT,6.238960e+09,545255.0,55558.8000
13,13,RIYA,UNIPHOS ENTERPRISE,8.456456e+07,656555.0,558.5700
14,14,NATASHA,JAGSONPAL,5.623956e+06,986523.0,186.5500
15,15,ABHINAV,MANAGEMENT SERVICE,NaN,255651.0,558.5558
16,16,SAHBAJ,HINDCON CHEMICALS,8.556356e+06,52355.0,55.5850
17,17,ANKIT,N.B.I,7.984653e+06,656582.0,558.5880
18,18,ROHAN,NaN,4.514512e+06,68526.0,25256.5500
19,19,SARVESH,NAHAR POLY FILMS LIMITED,9.856200e+04,2285.0,5558.5950
20,20,NaN,NaN,NaN,NaN,NaN
21,21,AVINASH,GOOGLE,8.451230e+05,225863.0,55875.5590
22,22,AYUSH,MICROSOFT,2.985623e+06,2255.0,5855.5890
23,23,GAURAV,SPACEX,6.451250e+05,2555454.0,5553.5500
24,24,SHAN,BLUE ORIGIN,6.525412e+06,555252.0,255.5265

In [168]:
var.replace(52355,method="bfill")

C:\Users\Dinesh kumar yadav\AppData\Local\Temp\ipykernel_27224\2405560474.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  var.replace(52355,method="bfill")

,Unnamed: 0,SYMBOL,SECURITY,TOTAL-VOLUME,AVG.VOLUME,CHANGE
0,0,ARYA,ELELTROTHRM LIMITED,4.525550e+05,7894.0,50.5630
1,1,ANVI,ISGEC,5.252000e+03,4658.0,542.6650
2,2,RAHUL,GKW,5.256200e+04,56487.0,225.6600
3,3,DINESH,IBM,2.362300e+04,5668.0,25.6500
4,4,MUKESH,LINC,2.362300e+04,3256.0,225.5500
5,5,ARYAN,HONDA,9.569560e+05,32665.0,5566.5600
6,6,MANISH,HUNDAI,7.864530e+05,265523.0,52553.5500
7,7,ABHISHEK,SUZUKI,8.465356e+06,26583.0,52285.5500
8,8,SUMAN,BMW,5.629856e+06,559532.0,5288.5600
9,9,AKANSHA,VOLKSWAGAN,7.645645e+06,9632.0,NaN
10,10,SUHANI,MARUTI,9.865485e+07,2596235.0,25885.5880
11,11,ADITI,TATA MOTOR,8.956230e+05,65989.0,5548.5500
12,12,PRANCHI,SKM EGG PRODUCT,6.238960e+09,545255.0,55558.8000
13,13,RIYA,UNIPHOS ENTERPRISE,8.456456e+07,656555.0,558.5700
14,14,NATASHA,JAGSONPAL,5.623956e+06,986523.0,186.5500
15,15,ABHINAV,MANAGEMENT SERVICE,NaN,255651.0,558.5558
16,16,SAHBAJ,HINDCON CHEMICALS,8.556356e+06,656582.0,55.5850
17,17,ANKIT,N.B.I,7.984653e+06,656582.0,558.5880
18,18,ROHAN,NaN,4.514512e+06,68526.0,25256.5500
19,19,SARVESH,NAHAR POLY FILMS LIMITED,9.856200e+04,2285.0,5558.5950
20,20,NaN,NaN,NaN,NaN,NaN
21,21,AVINASH,GOOGLE,8.451230e+05,225863.0,55875.5590
22,22,AYUSH,MICROSOFT,2.985623e+06,2255.0,5855.5890
23,23,GAURAV,SPACEX,6.451250e+05,2555454.0,5553.5500
24,24,SHAN,BLUE ORIGIN,6.525412e+06,555252.0,255.5265

In [169]:
var.replace(52355,method="ffill",limit=3)

C:\Users\Dinesh kumar yadav\AppData\Local\Temp\ipykernel_27224\3928138990.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  var.replace(52355,method="ffill",limit=3)

,Unnamed: 0,SYMBOL,SECURITY,TOTAL-VOLUME,AVG.VOLUME,CHANGE
0,0,ARYA,ELELTROTHRM LIMITED,4.525550e+05,7894.0,50.5630
1,1,ANVI,ISGEC,5.252000e+03,4658.0,542.6650
2,2,RAHUL,GKW,5.256200e+04,56487.0,225.6600
3,3,DINESH,IBM,2.362300e+04,5668.0,25.6500
4,4,MUKESH,LINC,2.362300e+04,3256.0,225.5500
5,5,ARYAN,HONDA,9.569560e+05,32665.0,5566.5600
6,6,MANISH,HUNDAI,7.864530e+05,265523.0,52553.5500
7,7,ABHISHEK,SUZUKI,8.465356e+06,26583.0,52285.5500
8,8,SUMAN,BMW,5.629856e+06,559532.0,5288.5600
9,9,AKANSHA,VOLKSWAGAN,7.645645e+06,9632.0,NaN
10,10,SUHANI,MARUTI,9.865485e+07,2596235.0,25885.5880
11,11,ADITI,TATA MOTOR,8.956230e+05,65989.0,5548.5500
12,12,PRANCHI,SKM EGG PRODUCT,6.238960e+09,545255.0,55558.8000
13,13,RIYA,UNIPHOS ENTERPRISE,8.456456e+07,656555.0,558.5700
14,14,NATASHA,JAGSONPAL,5.623956e+06,986523.0,186.5500
15,15,ABHINAV,MANAGEMENT SERVICE,NaN,255651.0,558.5558
16,16,SAHBAJ,HINDCON CHEMICALS,8.556356e+06,255651.0,55.5850
17,17,ANKIT,N.B.I,7.984653e+06,656582.0,558.5880
18,18,ROHAN,NaN,4.514512e+06,68526.0,25256.5500
19,19,SARVESH,NAHAR POLY FILMS LIMITED,9.856200e+04,2285.0,5558.5950
20,20,NaN,NaN,NaN,NaN,NaN
21,21,AVINASH,GOOGLE,8.451230e+05,225863.0,55875.5590
22,22,AYUSH,MICROSOFT,2.985623e+06,2255.0,5855.5890
23,23,GAURAV,SPACEX,6.451250e+05,2555454.0,5553.5500
24,24,SHAN,BLUE ORIGIN,6.525412e+06,555252.0,255.5265

In [170]:
var.replace(52355,method="ffill",limit=3,inplace=True)
var

C:\Users\Dinesh kumar yadav\AppData\Local\Temp\ipykernel_27224\636957428.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  var.replace(52355,method="ffill",limit=3,inplace=True)

,Unnamed: 0,SYMBOL,SECURITY,TOTAL-VOLUME,AVG.VOLUME,CHANGE
0,0,ARYA,ELELTROTHRM LIMITED,4.525550e+05,7894.0,50.5630
1,1,ANVI,ISGEC,5.252000e+03,4658.0,542.6650
2,2,RAHUL,GKW,5.256200e+04,56487.0,225.6600
3,3,DINESH,IBM,2.362300e+04,5668.0,25.6500
4,4,MUKESH,LINC,2.362300e+04,3256.0,225.5500
5,5,ARYAN,HONDA,9.569560e+05,32665.0,5566.5600
6,6,MANISH,HUNDAI,7.864530e+05,265523.0,52553.5500
7,7,ABHISHEK,SUZUKI,8.465356e+06,26583.0,52285.5500
8,8,SUMAN,BMW,5.629856e+06,559532.0,5288.5600
9,9,AKANSHA,VOLKSWAGAN,7.645645e+06,9632.0,NaN
10,10,SUHANI,MARUTI,9.865485e+07,2596235.0,25885.5880
11,11,ADITI,TATA MOTOR,8.956230e+05,65989.0,5548.5500
12,12,PRANCHI,SKM EGG PRODUCT,6.238960e+09,545255.0,55558.8000
13,13,RIYA,UNIPHOS ENTERPRISE,8.456456e+07,656555.0,558.5700
14,14,NATASHA,JAGSONPAL,5.623956e+06,986523.0,186.5500
15,15,ABHINAV,MANAGEMENT SERVICE,NaN,255651.0,558.5558
16,16,SAHBAJ,HINDCON CHEMICALS,8.556356e+06,255651.0,55.5850
17,17,ANKIT,N.B.I,7.984653e+06,656582.0,558.5880
18,18,ROHAN,NaN,4.514512e+06,68526.0,25256.5500
19,19,SARVESH,NAHAR POLY FILMS LIMITED,9.856200e+04,2285.0,5558.5950
20,20,NaN,NaN,NaN,NaN,NaN
21,21,AVINASH,GOOGLE,8.451230e+05,225863.0,55875.5590
22,22,AYUSH,MICROSOFT,2.985623e+06,2255.0,5855.5890
23,23,GAURAV,SPACEX,6.451250e+05,2555454.0,5553.5500
24,24,SHAN,BLUE ORIGIN,6.525412e+06,555252.0,255.5265

INTERPOLATE

In [172]:
import pandas as pd
var=pd.read_csv("D:\\Machine Learning\\Python Library\\test.csv")
var

,Unnamed: 0,SYMBOL,SECURITY,TOTAL-VOLUME,AVG.VOLUME,CHANGE
0,0,ARYA,ELELTROTHRM LIMITED,4.525550e+05,7894.0,50.5630
1,1,ANVI,ISGEC,5.252000e+03,4658.0,542.6650
2,2,RAHUL,GKW,5.256200e+04,56487.0,225.6600
3,3,DINESH,IBM,2.362300e+04,5668.0,25.6500
4,4,MUKESH,LINC,2.362300e+04,3256.0,225.5500
5,5,ARYAN,HONDA,9.569560e+05,32665.0,5566.5600
6,6,MANISH,HUNDAI,7.864530e+05,265523.0,52553.5500
7,7,ABHISHEK,SUZUKI,8.465356e+06,26583.0,52285.5500
8,8,SUMAN,BMW,5.629856e+06,559532.0,5288.5600
9,9,AKANSHA,VOLKSWAGAN,7.645645e+06,9632.0,NaN
10,10,SUHANI,MARUTI,9.865485e+07,2596235.0,25885.5880
11,11,ADITI,TATA MOTOR,8.956230e+05,65989.0,5548.5500
12,12,PRANCHI,SKM EGG PRODUCT,6.238960e+09,545255.0,55558.8000
13,13,RIYA,UNIPHOS ENTERPRISE,8.456456e+07,656555.0,558.5700
14,14,NATASHA,JAGSONPAL,5.623956e+06,986523.0,186.5500
15,15,ABHINAV,MANAGEMENT SERVICE,NaN,255651.0,558.5558
16,16,SAHBAJ,HINDCON CHEMICALS,8.556356e+06,52355.0,55.5850
17,17,ANKIT,N.B.I,7.984653e+06,656582.0,558.5880
18,18,ROHAN,NaN,4.514512e+06,68526.0,25256.5500
19,19,SARVESH,NAHAR POLY FILMS LIMITED,9.856200e+04,2285.0,5558.5950
20,20,NaN,NaN,NaN,NaN,NaN
21,21,AVINASH,GOOGLE,8.451230e+05,225863.0,55875.5590
22,22,AYUSH,MICROSOFT,2.985623e+06,2255.0,5855.5890
23,23,GAURAV,SPACEX,6.451250e+05,2555454.0,5553.5500
24,24,SHAN,BLUE ORIGIN,6.525412e+06,555252.0,255.5265

In [173]:
var.interpolate()

C:\Users\Dinesh kumar yadav\AppData\Local\Temp\ipykernel_27224\1566664964.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate()

,Unnamed: 0,SYMBOL,SECURITY,TOTAL-VOLUME,AVG.VOLUME,CHANGE
0,0,ARYA,ELELTROTHRM LIMITED,4.525550e+05,7894.0,50.5630
1,1,ANVI,ISGEC,5.252000e+03,4658.0,542.6650
2,2,RAHUL,GKW,5.256200e+04,56487.0,225.6600
3,3,DINESH,IBM,2.362300e+04,5668.0,25.6500
4,4,MUKESH,LINC,2.362300e+04,3256.0,225.5500
5,5,ARYAN,HONDA,9.569560e+05,32665.0,5566.5600
6,6,MANISH,HUNDAI,7.864530e+05,265523.0,52553.5500
7,7,ABHISHEK,SUZUKI,8.465356e+06,26583.0,52285.5500
8,8,SUMAN,BMW,5.629856e+06,559532.0,5288.5600
9,9,AKANSHA,VOLKSWAGAN,7.645645e+06,9632.0,15587.0740
10,10,SUHANI,MARUTI,9.865485e+07,2596235.0,25885.5880
11,11,ADITI,TATA MOTOR,8.956230e+05,65989.0,5548.5500
12,12,PRANCHI,SKM EGG PRODUCT,6.238960e+09,545255.0,55558.8000
13,13,RIYA,UNIPHOS ENTERPRISE,8.456456e+07,656555.0,558.5700
14,14,NATASHA,JAGSONPAL,5.623956e+06,986523.0,186.5500
15,15,ABHINAV,MANAGEMENT SERVICE,7.090156e+06,255651.0,558.5558
16,16,SAHBAJ,HINDCON CHEMICALS,8.556356e+06,52355.0,55.5850
17,17,ANKIT,N.B.I,7.984653e+06,656582.0,558.5880
18,18,ROHAN,NaN,4.514512e+06,68526.0,25256.5500
19,19,SARVESH,NAHAR POLY FILMS LIMITED,9.856200e+04,2285.0,5558.5950
20,20,NaN,NaN,4.718425e+05,114074.0,30717.0770
21,21,AVINASH,GOOGLE,8.451230e+05,225863.0,55875.5590
22,22,AYUSH,MICROSOFT,2.985623e+06,2255.0,5855.5890
23,23,GAURAV,SPACEX,6.451250e+05,2555454.0,5553.5500
24,24,SHAN,BLUE ORIGIN,6.525412e+06,555252.0,255.5265

In [174]:
var.interpolate(method="linear",axis=0)

C:\Users\Dinesh kumar yadav\AppData\Local\Temp\ipykernel_27224\3195347084.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate(method="linear",axis=0)

,Unnamed: 0,SYMBOL,SECURITY,TOTAL-VOLUME,AVG.VOLUME,CHANGE
0,0,ARYA,ELELTROTHRM LIMITED,4.525550e+05,7894.0,50.5630
1,1,ANVI,ISGEC,5.252000e+03,4658.0,542.6650
2,2,RAHUL,GKW,5.256200e+04,56487.0,225.6600
3,3,DINESH,IBM,2.362300e+04,5668.0,25.6500
4,4,MUKESH,LINC,2.362300e+04,3256.0,225.5500
5,5,ARYAN,HONDA,9.569560e+05,32665.0,5566.5600
6,6,MANISH,HUNDAI,7.864530e+05,265523.0,52553.5500
7,7,ABHISHEK,SUZUKI,8.465356e+06,26583.0,52285.5500
8,8,SUMAN,BMW,5.629856e+06,559532.0,5288.5600
9,9,AKANSHA,VOLKSWAGAN,7.645645e+06,9632.0,15587.0740
10,10,SUHANI,MARUTI,9.865485e+07,2596235.0,25885.5880
11,11,ADITI,TATA MOTOR,8.956230e+05,65989.0,5548.5500
12,12,PRANCHI,SKM EGG PRODUCT,6.238960e+09,545255.0,55558.8000
13,13,RIYA,UNIPHOS ENTERPRISE,8.456456e+07,656555.0,558.5700
14,14,NATASHA,JAGSONPAL,5.623956e+06,986523.0,186.5500
15,15,ABHINAV,MANAGEMENT SERVICE,7.090156e+06,255651.0,558.5558
16,16,SAHBAJ,HINDCON CHEMICALS,8.556356e+06,52355.0,55.5850
17,17,ANKIT,N.B.I,7.984653e+06,656582.0,558.5880
18,18,ROHAN,NaN,4.514512e+06,68526.0,25256.5500
19,19,SARVESH,NAHAR POLY FILMS LIMITED,9.856200e+04,2285.0,5558.5950
20,20,NaN,NaN,4.718425e+05,114074.0,30717.0770
21,21,AVINASH,GOOGLE,8.451230e+05,225863.0,55875.5590
22,22,AYUSH,MICROSOFT,2.985623e+06,2255.0,5855.5890
23,23,GAURAV,SPACEX,6.451250e+05,2555454.0,5553.5500
24,24,SHAN,BLUE ORIGIN,6.525412e+06,555252.0,255.5265

In [175]:
var.interpolate(limit=2)

C:\Users\Dinesh kumar yadav\AppData\Local\Temp\ipykernel_27224\545238221.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate(limit=2)

,Unnamed: 0,SYMBOL,SECURITY,TOTAL-VOLUME,AVG.VOLUME,CHANGE
0,0,ARYA,ELELTROTHRM LIMITED,4.525550e+05,7894.0,50.5630
1,1,ANVI,ISGEC,5.252000e+03,4658.0,542.6650
2,2,RAHUL,GKW,5.256200e+04,56487.0,225.6600
3,3,DINESH,IBM,2.362300e+04,5668.0,25.6500
4,4,MUKESH,LINC,2.362300e+04,3256.0,225.5500
5,5,ARYAN,HONDA,9.569560e+05,32665.0,5566.5600
6,6,MANISH,HUNDAI,7.864530e+05,265523.0,52553.5500
7,7,ABHISHEK,SUZUKI,8.465356e+06,26583.0,52285.5500
8,8,SUMAN,BMW,5.629856e+06,559532.0,5288.5600
9,9,AKANSHA,VOLKSWAGAN,7.645645e+06,9632.0,15587.0740
10,10,SUHANI,MARUTI,9.865485e+07,2596235.0,25885.5880
11,11,ADITI,TATA MOTOR,8.956230e+05,65989.0,5548.5500
12,12,PRANCHI,SKM EGG PRODUCT,6.238960e+09,545255.0,55558.8000
13,13,RIYA,UNIPHOS ENTERPRISE,8.456456e+07,656555.0,558.5700
14,14,NATASHA,JAGSONPAL,5.623956e+06,986523.0,186.5500
15,15,ABHINAV,MANAGEMENT SERVICE,7.090156e+06,255651.0,558.5558
16,16,SAHBAJ,HINDCON CHEMICALS,8.556356e+06,52355.0,55.5850
17,17,ANKIT,N.B.I,7.984653e+06,656582.0,558.5880
18,18,ROHAN,NaN,4.514512e+06,68526.0,25256.5500
19,19,SARVESH,NAHAR POLY FILMS LIMITED,9.856200e+04,2285.0,5558.5950
20,20,NaN,NaN,4.718425e+05,114074.0,30717.0770
21,21,AVINASH,GOOGLE,8.451230e+05,225863.0,55875.5590
22,22,AYUSH,MICROSOFT,2.985623e+06,2255.0,5855.5890
23,23,GAURAV,SPACEX,6.451250e+05,2555454.0,5553.5500
24,24,SHAN,BLUE ORIGIN,6.525412e+06,555252.0,255.5265

In [176]:
var.interpolate(limit_direction="forward",limit=2)

C:\Users\Dinesh kumar yadav\AppData\Local\Temp\ipykernel_27224\985317805.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate(limit_direction="forward",limit=2)

,Unnamed: 0,SYMBOL,SECURITY,TOTAL-VOLUME,AVG.VOLUME,CHANGE
0,0,ARYA,ELELTROTHRM LIMITED,4.525550e+05,7894.0,50.5630
1,1,ANVI,ISGEC,5.252000e+03,4658.0,542.6650
2,2,RAHUL,GKW,5.256200e+04,56487.0,225.6600
3,3,DINESH,IBM,2.362300e+04,5668.0,25.6500
4,4,MUKESH,LINC,2.362300e+04,3256.0,225.5500
5,5,ARYAN,HONDA,9.569560e+05,32665.0,5566.5600
6,6,MANISH,HUNDAI,7.864530e+05,265523.0,52553.5500
7,7,ABHISHEK,SUZUKI,8.465356e+06,26583.0,52285.5500
8,8,SUMAN,BMW,5.629856e+06,559532.0,5288.5600
9,9,AKANSHA,VOLKSWAGAN,7.645645e+06,9632.0,15587.0740
10,10,SUHANI,MARUTI,9.865485e+07,2596235.0,25885.5880
11,11,ADITI,TATA MOTOR,8.956230e+05,65989.0,5548.5500
12,12,PRANCHI,SKM EGG PRODUCT,6.238960e+09,545255.0,55558.8000
13,13,RIYA,UNIPHOS ENTERPRISE,8.456456e+07,656555.0,558.5700
14,14,NATASHA,JAGSONPAL,5.623956e+06,986523.0,186.5500
15,15,ABHINAV,MANAGEMENT SERVICE,7.090156e+06,255651.0,558.5558
16,16,SAHBAJ,HINDCON CHEMICALS,8.556356e+06,52355.0,55.5850
17,17,ANKIT,N.B.I,7.984653e+06,656582.0,558.5880
18,18,ROHAN,NaN,4.514512e+06,68526.0,25256.5500
19,19,SARVESH,NAHAR POLY FILMS LIMITED,9.856200e+04,2285.0,5558.5950
20,20,NaN,NaN,4.718425e+05,114074.0,30717.0770
21,21,AVINASH,GOOGLE,8.451230e+05,225863.0,55875.5590
22,22,AYUSH,MICROSOFT,2.985623e+06,2255.0,5855.5890
23,23,GAURAV,SPACEX,6.451250e+05,2555454.0,5553.5500
24,24,SHAN,BLUE ORIGIN,6.525412e+06,555252.0,255.5265

In [177]:
var.interpolate(limit_direction="backward",limit=2)

C:\Users\Dinesh kumar yadav\AppData\Local\Temp\ipykernel_27224\953987601.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate(limit_direction="backward",limit=2)

,Unnamed: 0,SYMBOL,SECURITY,TOTAL-VOLUME,AVG.VOLUME,CHANGE
0,0,ARYA,ELELTROTHRM LIMITED,4.525550e+05,7894.0,50.5630
1,1,ANVI,ISGEC,5.252000e+03,4658.0,542.6650
2,2,RAHUL,GKW,5.256200e+04,56487.0,225.6600
3,3,DINESH,IBM,2.362300e+04,5668.0,25.6500
4,4,MUKESH,LINC,2.362300e+04,3256.0,225.5500
5,5,ARYAN,HONDA,9.569560e+05,32665.0,5566.5600
6,6,MANISH,HUNDAI,7.864530e+05,265523.0,52553.5500
7,7,ABHISHEK,SUZUKI,8.465356e+06,26583.0,52285.5500
8,8,SUMAN,BMW,5.629856e+06,559532.0,5288.5600
9,9,AKANSHA,VOLKSWAGAN,7.645645e+06,9632.0,15587.0740
10,10,SUHANI,MARUTI,9.865485e+07,2596235.0,25885.5880
11,11,ADITI,TATA MOTOR,8.956230e+05,65989.0,5548.5500
12,12,PRANCHI,SKM EGG PRODUCT,6.238960e+09,545255.0,55558.8000
13,13,RIYA,UNIPHOS ENTERPRISE,8.456456e+07,656555.0,558.5700
14,14,NATASHA,JAGSONPAL,5.623956e+06,986523.0,186.5500
15,15,ABHINAV,MANAGEMENT SERVICE,7.090156e+06,255651.0,558.5558
16,16,SAHBAJ,HINDCON CHEMICALS,8.556356e+06,52355.0,55.5850
17,17,ANKIT,N.B.I,7.984653e+06,656582.0,558.5880
18,18,ROHAN,NaN,4.514512e+06,68526.0,25256.5500
19,19,SARVESH,NAHAR POLY FILMS LIMITED,9.856200e+04,2285.0,5558.5950
20,20,NaN,NaN,4.718425e+05,114074.0,30717.0770
21,21,AVINASH,GOOGLE,8.451230e+05,225863.0,55875.5590
22,22,AYUSH,MICROSOFT,2.985623e+06,2255.0,5855.5890
23,23,GAURAV,SPACEX,6.451250e+05,2555454.0,5553.5500
24,24,SHAN,BLUE ORIGIN,6.525412e+06,555252.0,255.5265

In [178]:
var.interpolate(limit_direction="both",limit=3)

C:\Users\Dinesh kumar yadav\AppData\Local\Temp\ipykernel_27224\2546274192.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate(limit_direction="both",limit=3)

,Unnamed: 0,SYMBOL,SECURITY,TOTAL-VOLUME,AVG.VOLUME,CHANGE
0,0,ARYA,ELELTROTHRM LIMITED,4.525550e+05,7894.0,50.5630
1,1,ANVI,ISGEC,5.252000e+03,4658.0,542.6650
2,2,RAHUL,GKW,5.256200e+04,56487.0,225.6600
3,3,DINESH,IBM,2.362300e+04,5668.0,25.6500
4,4,MUKESH,LINC,2.362300e+04,3256.0,225.5500
5,5,ARYAN,HONDA,9.569560e+05,32665.0,5566.5600
6,6,MANISH,HUNDAI,7.864530e+05,265523.0,52553.5500
7,7,ABHISHEK,SUZUKI,8.465356e+06,26583.0,52285.5500
8,8,SUMAN,BMW,5.629856e+06,559532.0,5288.5600
9,9,AKANSHA,VOLKSWAGAN,7.645645e+06,9632.0,15587.0740
10,10,SUHANI,MARUTI,9.865485e+07,2596235.0,25885.5880
11,11,ADITI,TATA MOTOR,8.956230e+05,65989.0,5548.5500
12,12,PRANCHI,SKM EGG PRODUCT,6.238960e+09,545255.0,55558.8000
13,13,RIYA,UNIPHOS ENTERPRISE,8.456456e+07,656555.0,558.5700
14,14,NATASHA,JAGSONPAL,5.623956e+06,986523.0,186.5500
15,15,ABHINAV,MANAGEMENT SERVICE,7.090156e+06,255651.0,558.5558
16,16,SAHBAJ,HINDCON CHEMICALS,8.556356e+06,52355.0,55.5850
17,17,ANKIT,N.B.I,7.984653e+06,656582.0,558.5880
18,18,ROHAN,NaN,4.514512e+06,68526.0,25256.5500
19,19,SARVESH,NAHAR POLY FILMS LIMITED,9.856200e+04,2285.0,5558.5950
20,20,NaN,NaN,4.718425e+05,114074.0,30717.0770
21,21,AVINASH,GOOGLE,8.451230e+05,225863.0,55875.5590
22,22,AYUSH,MICROSOFT,2.985623e+06,2255.0,5855.5890
23,23,GAURAV,SPACEX,6.451250e+05,2555454.0,5553.5500
24,24,SHAN,BLUE ORIGIN,6.525412e+06,555252.0,255.5265

In [180]:
var.interpolate(limit_area="inside")

C:\Users\Dinesh kumar yadav\AppData\Local\Temp\ipykernel_27224\996392095.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate(limit_area="inside")

,Unnamed: 0,SYMBOL,SECURITY,TOTAL-VOLUME,AVG.VOLUME,CHANGE
0,0,ARYA,ELELTROTHRM LIMITED,4.525550e+05,7894.0,50.5630
1,1,ANVI,ISGEC,5.252000e+03,4658.0,542.6650
2,2,RAHUL,GKW,5.256200e+04,56487.0,225.6600
3,3,DINESH,IBM,2.362300e+04,5668.0,25.6500
4,4,MUKESH,LINC,2.362300e+04,3256.0,225.5500
5,5,ARYAN,HONDA,9.569560e+05,32665.0,5566.5600
6,6,MANISH,HUNDAI,7.864530e+05,265523.0,52553.5500
7,7,ABHISHEK,SUZUKI,8.465356e+06,26583.0,52285.5500
8,8,SUMAN,BMW,5.629856e+06,559532.0,5288.5600
9,9,AKANSHA,VOLKSWAGAN,7.645645e+06,9632.0,15587.0740
10,10,SUHANI,MARUTI,9.865485e+07,2596235.0,25885.5880
11,11,ADITI,TATA MOTOR,8.956230e+05,65989.0,5548.5500
12,12,PRANCHI,SKM EGG PRODUCT,6.238960e+09,545255.0,55558.8000
13,13,RIYA,UNIPHOS ENTERPRISE,8.456456e+07,656555.0,558.5700
14,14,NATASHA,JAGSONPAL,5.623956e+06,986523.0,186.5500
15,15,ABHINAV,MANAGEMENT SERVICE,7.090156e+06,255651.0,558.5558
16,16,SAHBAJ,HINDCON CHEMICALS,8.556356e+06,52355.0,55.5850
17,17,ANKIT,N.B.I,7.984653e+06,656582.0,558.5880
18,18,ROHAN,NaN,4.514512e+06,68526.0,25256.5500
19,19,SARVESH,NAHAR POLY FILMS LIMITED,9.856200e+04,2285.0,5558.5950
20,20,NaN,NaN,4.718425e+05,114074.0,30717.0770
21,21,AVINASH,GOOGLE,8.451230e+05,225863.0,55875.5590
22,22,AYUSH,MICROSOFT,2.985623e+06,2255.0,5855.5890
23,23,GAURAV,SPACEX,6.451250e+05,2555454.0,5553.5500
24,24,SHAN,BLUE ORIGIN,6.525412e+06,555252.0,255.5265

In [181]:
var.interpolate(limit_area="outside")

C:\Users\Dinesh kumar yadav\AppData\Local\Temp\ipykernel_27224\1123960867.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate(limit_area="outside")

,Unnamed: 0,SYMBOL,SECURITY,TOTAL-VOLUME,AVG.VOLUME,CHANGE
0,0,ARYA,ELELTROTHRM LIMITED,4.525550e+05,7894.0,50.5630
1,1,ANVI,ISGEC,5.252000e+03,4658.0,542.6650
2,2,RAHUL,GKW,5.256200e+04,56487.0,225.6600
3,3,DINESH,IBM,2.362300e+04,5668.0,25.6500
4,4,MUKESH,LINC,2.362300e+04,3256.0,225.5500
5,5,ARYAN,HONDA,9.569560e+05,32665.0,5566.5600
6,6,MANISH,HUNDAI,7.864530e+05,265523.0,52553.5500
7,7,ABHISHEK,SUZUKI,8.465356e+06,26583.0,52285.5500
8,8,SUMAN,BMW,5.629856e+06,559532.0,5288.5600
9,9,AKANSHA,VOLKSWAGAN,7.645645e+06,9632.0,NaN
10,10,SUHANI,MARUTI,9.865485e+07,2596235.0,25885.5880
11,11,ADITI,TATA MOTOR,8.956230e+05,65989.0,5548.5500
12,12,PRANCHI,SKM EGG PRODUCT,6.238960e+09,545255.0,55558.8000
13,13,RIYA,UNIPHOS ENTERPRISE,8.456456e+07,656555.0,558.5700
14,14,NATASHA,JAGSONPAL,5.623956e+06,986523.0,186.5500
15,15,ABHINAV,MANAGEMENT SERVICE,NaN,255651.0,558.5558
16,16,SAHBAJ,HINDCON CHEMICALS,8.556356e+06,52355.0,55.5850
17,17,ANKIT,N.B.I,7.984653e+06,656582.0,558.5880
18,18,ROHAN,NaN,4.514512e+06,68526.0,25256.5500
19,19,SARVESH,NAHAR POLY FILMS LIMITED,9.856200e+04,2285.0,5558.5950
20,20,NaN,NaN,NaN,NaN,NaN
21,21,AVINASH,GOOGLE,8.451230e+05,225863.0,55875.5590
22,22,AYUSH,MICROSOFT,2.985623e+06,2255.0,5855.5890
23,23,GAURAV,SPACEX,6.451250e+05,2555454.0,5553.5500
24,24,SHAN,BLUE ORIGIN,6.525412e+06,555252.0,255.5265

In [182]:
var.interpolate(limit_direction="both",limit=3,inplace=True)
var

C:\Users\Dinesh kumar yadav\AppData\Local\Temp\ipykernel_27224\4262940976.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate(limit_direction="both",limit=3,inplace=True)

,Unnamed: 0,SYMBOL,SECURITY,TOTAL-VOLUME,AVG.VOLUME,CHANGE
0,0,ARYA,ELELTROTHRM LIMITED,4.525550e+05,7894.0,50.5630
1,1,ANVI,ISGEC,5.252000e+03,4658.0,542.6650
2,2,RAHUL,GKW,5.256200e+04,56487.0,225.6600
3,3,DINESH,IBM,2.362300e+04,5668.0,25.6500
4,4,MUKESH,LINC,2.362300e+04,3256.0,225.5500
5,5,ARYAN,HONDA,9.569560e+05,32665.0,5566.5600
6,6,MANISH,HUNDAI,7.864530e+05,265523.0,52553.5500
7,7,ABHISHEK,SUZUKI,8.465356e+06,26583.0,52285.5500
8,8,SUMAN,BMW,5.629856e+06,559532.0,5288.5600
9,9,AKANSHA,VOLKSWAGAN,7.645645e+06,9632.0,15587.0740
10,10,SUHANI,MARUTI,9.865485e+07,2596235.0,25885.5880
11,11,ADITI,TATA MOTOR,8.956230e+05,65989.0,5548.5500
12,12,PRANCHI,SKM EGG PRODUCT,6.238960e+09,545255.0,55558.8000
13,13,RIYA,UNIPHOS ENTERPRISE,8.456456e+07,656555.0,558.5700
14,14,NATASHA,JAGSONPAL,5.623956e+06,986523.0,186.5500
15,15,ABHINAV,MANAGEMENT SERVICE,7.090156e+06,255651.0,558.5558
16,16,SAHBAJ,HINDCON CHEMICALS,8.556356e+06,52355.0,55.5850
17,17,ANKIT,N.B.I,7.984653e+06,656582.0,558.5880
18,18,ROHAN,NaN,4.514512e+06,68526.0,25256.5500
19,19,SARVESH,NAHAR POLY FILMS LIMITED,9.856200e+04,2285.0,5558.5950
20,20,NaN,NaN,4.718425e+05,114074.0,30717.0770
21,21,AVINASH,GOOGLE,8.451230e+05,225863.0,55875.5590
22,22,AYUSH,MICROSOFT,2.985623e+06,2255.0,5855.5890
23,23,GAURAV,SPACEX,6.451250e+05,2555454.0,5553.5500
24,24,SHAN,BLUE ORIGIN,6.525412e+06,555252.0,255.5265

MERGE

In [186]:
import pandas as pd

var1=pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
var2=pd.DataFrame({"A":[1,2,3,4],"C":[21,22,23,24]})

# pd.merge(var1,var2,on="A")
pd.merge(var2,var1,on="A")

   A   C   B
0  1  21  11
1  2  22  12
2  3  23  13
3  4  24  14

In [5]:
import pandas as pd
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[11,12,13,14,15]})
var2=pd.DataFrame({"A":[1,2,3,4,6],"C":[21,22,23,24,25]})
pd.merge(var1,var2,on="A")

   A   B   C
0  1  11  21
1  2  12  22
2  3  13  23
3  4  14  24

In [6]:
import pandas as pd
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[11,12,13,14,15]})
var2=pd.DataFrame({"A":[1,2,3,4,6],"C":[21,22,23,24,25]})
pd.merge(var1,var2,how="inner")

   A   B   C
0  1  11  21
1  2  12  22
2  3  13  23
3  4  14  24

In [8]:
import pandas as pd
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[11,12,13,14,15]})
var2=pd.DataFrame({"A":[1,2,3,4,6],"C":[21,22,23,24,25]})
pd.merge(var1,var2,how="left")

   A   B     C
0  1  11  21.0
1  2  12  22.0
2  3  13  23.0
3  4  14  24.0
4  5  15   NaN

In [10]:
import pandas as pd
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[11,12,13,14,15]})
var2=pd.DataFrame({"A":[1,2,3,4,6],"C":[21,22,23,24,25]})
pd.merge(var1,var2,how="right")

   A     B   C
0  1  11.0  21
1  2  12.0  22
2  3  13.0  23
3  4  14.0  24
4  6   NaN  25

In [11]:
import pandas as pd
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[11,12,13,14,15]})
var2=pd.DataFrame({"A":[1,2,3,4,6],"C":[21,22,23,24,25]})
pd.merge(var1,var2,how="outer")

   A     B     C
0  1  11.0  21.0
1  2  12.0  22.0
2  3  13.0  23.0
3  4  14.0  24.0
4  5  15.0   NaN
5  6   NaN  25.0

In [12]:
import pandas as pd
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[11,12,13,14,15]})
var2=pd.DataFrame({"A":[1,2,3,4,6],"C":[21,22,23,24,25]})
pd.merge(var1,var2,how="outer",indicator=True)

   A     B     C      _merge
0  1  11.0  21.0        both
1  2  12.0  22.0        both
2  3  13.0  23.0        both
3  4  14.0  24.0        both
4  5  15.0   NaN   left_only
5  6   NaN  25.0  right_only

In [13]:
import pandas as pd
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[11,12,13,14,15]})
var2=pd.DataFrame({"A":[1,2,3,4,6],"C":[21,22,23,24,25]})
pd.merge(var1,var2,left_index=True,right_index=True)

   A_x   B  A_y   C
0    1  11    1  21
1    2  12    2  22
2    3  13    3  23
3    4  14    4  24
4    5  15    6  25

In [15]:
import pandas as pd
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[11,12,13,14,15]})
var2=pd.DataFrame({"A":[1,2,3,4,6],"C":[21,22,23,24,25]})
pd.merge(var1,var2,left_index=True,right_index=True,suffixes=("name","Python"))

   Aname   B  APython   C
0      1  11        1  21
1      2  12        2  22
2      3  13        3  23
3      4  14        4  24
4      5  15        6  25

CONCAT

In [16]:
d1=pd.DataFrame({"A":[1,2,3,4,5],"B":[11,12,13,14,15]})
d2=pd.DataFrame({"A":[1,2,3,4,6],"C":[21,22,23,24,25]})
pd.concat([d1,d2])

   A     B     C
0  1  11.0   NaN
1  2  12.0   NaN
2  3  13.0   NaN
3  4  14.0   NaN
4  5  15.0   NaN
0  1   NaN  21.0
1  2   NaN  22.0
2  3   NaN  23.0
3  4   NaN  24.0
4  6   NaN  25.0

In [17]:
d1=pd.DataFrame({"A":[1,2,3,4,5],"B":[11,12,13,14,15]})
d2=pd.DataFrame({"A":[1,2,3,4,6],"C":[21,22,23,24,25]})
pd.concat([d1,d2],axis=1)

   A   B  A   C
0  1  11  1  21
1  2  12  2  22
2  3  13  3  23
3  4  14  4  24
4  5  15  6  25

In [18]:
d1=pd.DataFrame({"A":[1,2,3,4,5],"B":[11,12,13,14,15]})
d2=pd.DataFrame({"A":[1,2],"C":[21,22]})
pd.concat([d1,d2],axis=1)

   A   B    A     C
0  1  11  1.0  21.0
1  2  12  2.0  22.0
2  3  13  NaN   NaN
3  4  14  NaN   NaN
4  5  15  NaN   NaN

In [19]:
d1=pd.DataFrame({"A":[1,2,3,4,5],"B":[11,12,13,14,15]})
d2=pd.DataFrame({"A":[1,2],"C":[21,22]})
pd.concat([d1,d2],axis=1,join="inner")

   A   B  A   C
0  1  11  1  21
1  2  12  2  22

In [20]:
d1=pd.DataFrame({"A":[1,2,3,4,5],"B":[11,12,13,14,15]})
d2=pd.DataFrame({"A":[1,2],"C":[21,22]})
pd.concat([d1,d2],axis=1,keys=["d1","d2"])

  d1       d2
   A   B    A     C
0  1  11  1.0  21.0
1  2  12  2.0  22.0
2  3  13  NaN   NaN
3  4  14  NaN   NaN
4  5  15  NaN   NaN

In [24]:
d1=pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
d2=pd.DataFrame({"A":[1,2,3,4],"C":[21,22,23,24]})
pd.concat([d1,d2],axis=1,keys=["d1","d2"])

  d1     d2
   A   B  A   C
0  1  11  1  21
1  2  12  2  22
2  3  13  3  23
3  4  14  4  24

In [25]:
d1=pd.DataFrame({"D":[1,2,3,4]})
d2=pd.DataFrame({"A":[1,2,3,4],"C":[21,22,23,24]})
pd.concat([d1,d2])

     D    A     C
0  1.0  NaN   NaN
1  2.0  NaN   NaN
2  3.0  NaN   NaN
3  4.0  NaN   NaN
0  NaN  1.0  21.0
1  NaN  2.0  22.0
2  NaN  3.0  23.0
3  NaN  4.0  24.0

GROUPBY

In [27]:
import pandas as pd
var=pd.DataFrame({"Name":["a","b","c","d","e","f","a","b","c","d"],
                   "S_1":[12,13,14,15,16,17,20,24,25,35],
                   "S_2":[23,24,25,26,45,12,45,23,45,24]})
var

  Name  S_1  S_2
0    a   12   23
1    b   13   24
2    c   14   25
3    d   15   26
4    e   16   45
5    f   17   12
6    a   20   45
7    b   24   23
8    c   25   45
9    d   35   24

In [28]:
var_new=var.groupby("Name")
var_new

In [29]:
for x,y in var_new:
    print(x)
    print(y)

a
  Name  S_1  S_2
0    a   12   23
6    a   20   45
b
  Name  S_1  S_2
1    b   13   24
7    b   24   23
c
  Name  S_1  S_2
2    c   14   25
8    c   25   45
d
  Name  S_1  S_2
3    d   15   26
9    d   35   24
e
  Name  S_1  S_2
4    e   16   45
f
  Name  S_1  S_2
5    f   17   12

In [30]:
var_new.get_group("a")

  Name  S_1  S_2
0    a   12   23
6    a   20   45

In [31]:
var_new.min()

      S_1  S_2
Name
a      12   23
b      13   23
c      14   25
d      15   24
e      16   45
f      17   12

In [32]:
var_new.max()

      S_1  S_2
Name
a      20   45
b      24   24
c      25   45
d      35   26
e      16   45
f      17   12

In [33]:
var_new.mean()

       S_1   S_2
Name
a     16.0  34.0
b     18.5  23.5
c     19.5  35.0
d     25.0  25.0
e     16.0  45.0
f     17.0  12.0

In [34]:
li=list(var_new)
li

[('a',
    Name  S_1  S_2
  0    a   12   23
  6    a   20   45),
 ('b',
    Name  S_1  S_2
  1    b   13   24
  7    b   24   23),
 ('c',
    Name  S_1  S_2
  2    c   14   25
  8    c   25   45),
 ('d',
    Name  S_1  S_2
  3    d   15   26
  9    d   35   24),
 ('e',
    Name  S_1  S_2
  4    e   16   45),
 ('f',
    Name  S_1  S_2
  5    f   17   12)]

JOIN

In [35]:
import pandas as pd
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[11,12,13,14,15]})
var2=pd.DataFrame({"C":[10,20,30,40,50],"D":[21,22,23,24,25]})
var1.join(var2)

   A   B   C   D
0  1  11  10  21
1  2  12  20  22
2  3  13  30  23
3  4  14  40  24
4  5  15  50  25

In [36]:
import pandas as pd
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[11,12,13,14,15]})
var2=pd.DataFrame({"C":[10,20,],"D":[1,22]})
var1.join(var2)

   A   B     C     D
0  1  11  10.0   1.0
1  2  12  20.0  22.0
2  3  13   NaN   NaN
3  4  14   NaN   NaN
4  5  15   NaN   NaN

In [38]:
import pandas as pd
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[11,12,13,14,15]},index=["a","b","c","d","e"])
var2=pd.DataFrame({"C":[10,20,],"D":[1,22]})
var1.join(var2)

   A   B   C   D
a  1  11 NaN NaN
b  2  12 NaN NaN
c  3  13 NaN NaN
d  4  14 NaN NaN
e  5  15 NaN NaN

In [40]:
import pandas as pd
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[11,12,13,14,15]},index=["a","b","c","d","e"])
var2=pd.DataFrame({"C":[10,20,],"D":[1,22]},index=["a","b"])
var1.join(var2)

   A   B     C     D
a  1  11  10.0   1.0
b  2  12  20.0  22.0
c  3  13   NaN   NaN
d  4  14   NaN   NaN
e  5  15   NaN   NaN

In [41]:
import pandas as pd
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[11,12,13,14,15]},index=["a","b","c","d","e"])
var2=pd.DataFrame({"C":[10,20,],"D":[1,22]},index=["a","b"])
var2.join(var1)

    C   D  A   B
a  10   1  1  11
b  20  22  2  12

In [42]:
import pandas as pd
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[11,12,13,14,15]},index=["a","b","c","d","e"])
var2=pd.DataFrame({"C":[10,20,],"D":[1,22]},index=["a","b"])
var2.join(var1,how="right")

      C     D  A   B
a  10.0   1.0  1  11
b  20.0  22.0  2  12
c   NaN   NaN  3  13
d   NaN   NaN  4  14
e   NaN   NaN  5  15

In [43]:
import pandas as pd
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[11,12,13,14,15]},index=["a","b","c","d","e"])
var2=pd.DataFrame({"C":[10,20,],"D":[1,22]},index=["a","b"])
var2.join(var1,how="left")

    C   D  A   B
a  10   1  1  11
b  20  22  2  12

In [45]:
import pandas as pd
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[11,12,13,14,15]},index=["a","b","c","d","e"])
var2=pd.DataFrame({"C":[10,20,],"D":[1,22]},index=["a","b"])
var2.join(var1,how="inner")

    C   D  A   B
a  10   1  1  11
b  20  22  2  12

In [52]:
import pandas as pd
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[11,12,13,14,15]},index=["a","b","c","d","e"])
var2=pd.DataFrame({"C":[10,20,],"B":[1,22]},index=["a","b"])
var2.join(var1,how="inner",lsuffix="_12")

    C  B_12  A   B
a  10     1  1  11
b  20    22  2  12

In [51]:
import pandas as pd
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[11,12,13,14,15]},index=["a","b","c","d","e"])
var2=pd.DataFrame({"C":[10,20,],"B":[1,22]},index=["a","b"])
var2.join(var1,how="outer",lsuffix="_12")

      C  B_12  A   B
a  10.0   1.0  1  11
b  20.0  22.0  2  12
c   NaN   NaN  3  13
d   NaN   NaN  4  14
e   NaN   NaN  5  15

In [50]:
import pandas as pd
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[11,12,13,14,15]},index=["a","b","c","d","e"])
var2=pd.DataFrame({"C":[10,20,],"B":[1,22]},index=["a","b"])
var2.join(var1,how="outer",lsuffix="_12",rsuffix="_123")

      C  B_12  A  B_123
a  10.0   1.0  1     11
b  20.0  22.0  2     12
c   NaN   NaN  3     13
d   NaN   NaN  4     14
e   NaN   NaN  5     15

APPEND

In [3]:
# import pandas as pd
# var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[11,12,13,14,15]},index=["a","b","c","d","e"])
# var2=pd.DataFrame({"C":[10,20],"B":[11,22]},index=["a","b"])
# var1.append(var2)


# append is removed in pandas 2.0

MELT()

In [5]:
import pandas as pd
var=pd.DataFrame({"days":[1,2,3,4,5,6,7],"eng":[10,20,30,40,50,60,70],
                  "maths":[17,18,19,20,13,14,15]})
var

   days  eng  maths
0     1   10     17
1     2   20     18
2     3   30     19
3     4   40     20
4     5   50     13
5     6   60     14
6     7   70     15

In [6]:
pd.melt(var)

   variable  value
0      days      1
1      days      2
2      days      3
3      days      4
4      days      5
5      days      6
6      days      7
7       eng     10
8       eng     20
9       eng     30
10      eng     40
11      eng     50
12      eng     60
13      eng     70
14    maths     17
15    maths     18
16    maths     19
17    maths     20
18    maths     13
19    maths     14
20    maths     15

In [7]:
pd.melt(var,id_vars=["eng"])

    eng variable  value
0    10     days      1
1    20     days      2
2    30     days      3
3    40     days      4
4    50     days      5
5    60     days      6
6    70     days      7
7    10    maths     17
8    20    maths     18
9    30    maths     19
10   40    maths     20
11   50    maths     13
12   60    maths     14
13   70    maths     15

In [8]:
pd.melt(var,id_vars=["days"])

    days variable  value
0      1      eng     10
1      2      eng     20
2      3      eng     30
3      4      eng     40
4      5      eng     50
5      6      eng     60
6      7      eng     70
7      1    maths     17
8      2    maths     18
9      3    maths     19
10     4    maths     20
11     5    maths     13
12     6    maths     14
13     7    maths     15

In [11]:
pd.melt(var,id_vars=["days"],var_name="Python")

    days Python  value
0      1    eng     10
1      2    eng     20
2      3    eng     30
3      4    eng     40
4      5    eng     50
5      6    eng     60
6      7    eng     70
7      1  maths     17
8      2  maths     18
9      3  maths     19
10     4  maths     20
11     5  maths     13
12     6  maths     14
13     7  maths     15

In [13]:
pd.melt(var,id_vars=["days"],var_name="python",value_name="Dinesh")

    days python  Dinesh
0      1    eng      10
1      2    eng      20
2      3    eng      30
3      4    eng      40
4      5    eng      50
5      6    eng      60
6      7    eng      70
7      1  maths      17
8      2  maths      18
9      3  maths      19
10     4  maths      20
11     5  maths      13
12     6  maths      14
13     7  maths      15

PIVOT()

In [18]:
import pandas as pd
var=pd.DataFrame({"days":[1,2,3,4,5,6],
                 "st_name":["a","b","c","a","b","c"],"eng":[10,12,13,14,12,19],"math":[13,17,39,43,14,18]})
var

   days st_name  eng  math
0     1       a   10    13
1     2       b   12    17
2     3       c   13    39
3     4       a   14    43
4     5       b   12    14
5     6       c   19    18

In [22]:
var.pivot(index="days",columns="st_name")

          eng              math
st_name     a     b     c     a     b     c
days
1        10.0   NaN   NaN  13.0   NaN   NaN
2         NaN  12.0   NaN   NaN  17.0   NaN
3         NaN   NaN  13.0   NaN   NaN  39.0
4        14.0   NaN   NaN  43.0   NaN   NaN
5         NaN  12.0   NaN   NaN  14.0   NaN
6         NaN   NaN  19.0   NaN   NaN  18.0

In [23]:
var.pivot(index="days",columns="st_name",values="eng")

st_name     a     b     c
days
1        10.0   NaN   NaN
2         NaN  12.0   NaN
3         NaN   NaN  13.0
4        14.0   NaN   NaN
5         NaN  12.0   NaN
6         NaN   NaN  19.0

In [26]:
var.pivot_table(index="st_name",columns="days",
         aggfunc="mean")

          eng                                math                          \
days        1     2     3     4     5     6     1     2     3     4     5
st_name
a        10.0   NaN   NaN  14.0   NaN   NaN  13.0   NaN   NaN  43.0   NaN
b         NaN  12.0   NaN   NaN  12.0   NaN   NaN  17.0   NaN   NaN  14.0
c         NaN   NaN  13.0   NaN   NaN  19.0   NaN   NaN  39.0   NaN   NaN


days        6
st_name
a         NaN
b         NaN
c        18.0

In [27]:
var.pivot_table(index="st_name",columns="days",
         aggfunc="sum")

          eng                                math                          \
days        1     2     3     4     5     6     1     2     3     4     5
st_name
a        10.0   NaN   NaN  14.0   NaN   NaN  13.0   NaN   NaN  43.0   NaN
b         NaN  12.0   NaN   NaN  12.0   NaN   NaN  17.0   NaN   NaN  14.0
c         NaN   NaN  13.0   NaN   NaN  19.0   NaN   NaN  39.0   NaN   NaN


days        6
st_name
a         NaN
b         NaN
c        18.0

In [28]:
var.pivot_table(index="st_name",columns="days",
                aggfunc="sum",margins="True")

          eng                                    math                          \
days        1     2     3     4     5     6 All     1     2     3     4     5
st_name
a        10.0   NaN   NaN  14.0   NaN   NaN  24  13.0   NaN   NaN  43.0   NaN
b         NaN  12.0   NaN   NaN  12.0   NaN  24   NaN  17.0   NaN   NaN  14.0
c         NaN   NaN  13.0   NaN   NaN  19.0  32   NaN   NaN  39.0   NaN   NaN
All      10.0  12.0  13.0  14.0  12.0  19.0  80  13.0  17.0  39.0  43.0  14.0


days        6  All
st_name
a         NaN   56
b         NaN   31
c        18.0   57
All      18.0  144